<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <!-- generador pdfmake -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/vfs_fonts.js"></script>
    <!-- DATATABLE -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link rel="icon" href="/img/favicon/logo-favicon.png">
    <title>Rosfal - Reportes</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light  ">
        <div class="container-fluid  " style="background-color: #ececec;">

            <div class="d-flex">
                <img src="/img/LOGO-ROSFAL.png" alt="logo-rosfal" style="width: 80px;" class="me-2">
                <h5 class="text-dark m-2 d-flex align-items-center" style="font-size: large;">MANTENIMIENTOS</h5>
            </div>
            <button class="navbar-toggler  " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="offcanvas-body ">

                    <div class="d-flex">
                        <div class="btn-group ">
                            <button type="button" class="hola navbar-toggler d-block me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon show "></span>
                            </button>
                            <i class="bi bi-person-square me-2" style="font-size: 40px;"></i>
                        </div>
                        <div class="user-container me-2 d-flex">
                            <% if (login) { %>
                                <div>
                                    <h4 type="" class="" style="color: #aeaeae;">
                                        <%= name %>
                                    </h4>
                                    <h6>
                                        <%= rol %>
                                    </h6>
                                </div>
                                <%}  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navbarOffcanvasLabel">
                <h5 class="text-dark m-2" style="font-size: large;">MANTENIMIENTOS</h5>
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="user-container me-2 d-flex align-content-center" style="background-color: #ececec;">
                <% if (login) { %>
                    <i class="bi bi-person-square me-2" style="font-size: 40px;"></i>
                    <div>
                        <h4 type="" class="" style="color: #aeaeae;">
                            <%= name %>
                        </h4>
                        <h6>
                            <%= rol %>
                        </h6>
                    </div>
                    <%}  %>
            </div>
            <hr class="dropdown-divider">
            <%- include('template/navbar-menu') %>
        </div>
    </div>

    <div class="container">




        <!-- Modal -->
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Notificacion Atrasos Clientes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Seguro que desea enviar todas las notificaciones de atrasos.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button id="notificarAtrasosBtn" type="button" class="btn btn-primary">Si</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" shadow d-flex justify-content-center flex-wrap">

        <div class="m-4 mt-4">
            <div class="d-flex justify-content-center flex-column">
                <h6 class="fw-bold text-secondary">ESTADO CARTERA</h6>
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>
            <div class="d-flex justify-content-center">

                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>

        <!-- <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">PREST. ATRASOS</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>
        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">PREST LIQUIDADOS</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>
        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">PREST APROBADOS</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>
        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">FIRMA PENDIENTE</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>
        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">NOTIFIC ATRASOS</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>


        <div class="m-4 mt-4">
            <div class="d-flex justify-content-center flex-column">
                <h6 class="fw-bold text-secondary">RUTAS CREADAS</h6>
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>
            <div class="d-flex justify-content-center">

                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>

        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">RUTAS CLIENTES</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>
        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">SOLICITUD DECLINADAS</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>
        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">SOLCITUD REVISION</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>
        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">SOLICITUD NUEVAS</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div>
        <div class="m-4 mt-4">
            <h6 class="fw-bold text-secondary">SOLICITUD TIP PAGO</h6>
            <div class="d-flex justify-content-center ">
                <img src="/img/reportes/pdf.png" style="width: 120px; height: 110px;" alt="Estado Cartera">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-3" id="generate-pdf">Generar PDF</button>
            </div>
        </div> -->
    </div>

    <hr>

    <div class="p-lg-3">
        <h6 class="m-1">ARCHIVOS RELACIONADOS A CLIENTES</h6>

        <div class="text-end mb-3">
            <% if(rol == permiso_A || rol == permiso_B){ %>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
            ENVIAR ATRASOS SMS/EMAIL
            </button>
                <button class="btn btn-secondary  m-1"><a class="text-decoration-none text-white" href="/clientes">LISTADO DE CLIENTES</a></button>
                <% } %>
                    <!-- Button trigger modal -->
                    <button style="text-align: left;" type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
         SUBIR DOCUMENTOS
            </button>
        </div>
        <div class="container-table table-responsive">
            <table id="datatable" class="display responsive nowrap" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>ID del Archivo</th>
                        <th>ID del Préstamo</th>
                        <th>Telefono asociado</th>
                        <th>Tipo de documento</th>
                        <th>Nombre del Archivo</th>
                        <th>Fecha de Subida</th>
                        <th>Tamaño del archivo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="archivos-table-body">
                    <!-- Las filas de archivos se agregarán aquí dinámicamente -->
                    <% if (arrayArchivos.length > 0) { %>
                        <% arrayArchivos.forEach(archivo=> { %>

                            <tr>
                                <td>
                                    <%= archivo.archivo_id %>
                                </td>
                                <td>
                                    <%= archivo.prestamo_id %>
                                </td>
                                <td>
                                    <%= archivo.celular %>
                                </td>
                                <td>
                                    <%= archivo.tipo_documento %>
                                </td>
                                <td class="text-truncate">
                                    <%= archivo.nombre_archivo %>
                                </td>
                                <td>
                                    <%= archivo.fecha_subida.toLocaleString('es-US', { timeZone: 'America/Santo_Domingo'}) %>
                                </td>
                                <td>
                                    <%= archivo.tamano_archivo_kb %> KB
                                </td>
                                <td>

                                    <a id="eventoAct-Inact" href="/download/<%= archivo.archivo_id %>" class="btn " title="descargar archivo"><i class="bi bi-folder2-open "></i></a>

                                </td>

                            </tr>
                            <% }) %>
                                <% } %>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade  mt-4" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Subir Documentos</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">


                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <!-- Campo para ingresar el ID del préstamo -->


                        <label for="prestamo_id">ID del Préstamo:</label>
                        <select name="prestamo_id" class="form-control" id="prestamo_id" required>
                            <option value="" selected>Seleccionar</option>
                            <% if (arraySolicitudesAprobadas.length > 0) { %>
                                <% arraySolicitudesAprobadas.forEach(cliente=> { %>
                            <option value="<%= cliente.idSolicitud %>" >
                                <%= cliente.idSolicitud %> <%= cliente.nombre %> <%= cliente.apellido %>
                            </option>
                            <% }) %>
                            <% } %>
                        </select>



                        <label for="celular">Telefono Cliente Asociado</label>
                        <select name="celular" class="form-control" id="celular" required>
                            <option value="" selected>Seleccionar</option>
                            <% if (arraySolicitudesAprobadas.length > 0) { %>
                                <% arraySolicitudesAprobadas.forEach(cliente=> { %>
                            <option value="<%= cliente.celular%>" >
                                <%= cliente.idSolicitud %> <%= cliente.celular %> <%= cliente.nombre %> <%= cliente.apellido %>
                            </option>
                            <% }) %>
                            <% } %>
                        </select>

                        <label for="prestamo_id">Tipo de Documento</label>
                        <select name="tipo_documento" class="form-control" id="tipo_documento" required>
                            <option value="" selected>Seleccionar</option>
                            <option value="Recibo">Recibo</option>
                            <option value="Contrato">Contrato</option>
                            <option value="Cedula">Cedula</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <br><br>

                        <!-- Campo para subir el archivo PDF -->
                        <label for="archivo">Subir archivo (PDF, PNG, JPG):</label>
                        <input type="file" id="archivo" name="archivo" accept=".pdf, .png, .jpg, .jpeg" required />
                        <br><br>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Subir Documento</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        // Obtener el botón
        var btn = document.getElementById('generate-pdf');
        // var htmlContent = document.getElementById('html-content').innerHTML;

        // Agregar un evento de clic al botón
        btn.addEventListener('click', function() {

            let fecha = new Date();
            let fechaReporte = fecha.toLocaleString('es-US', {
                timeZone: "America/Santo_Domingo"
            }, );

            // Definir el contenido del documento
            var docDefinition = {
                content: [{
                        text: 'ROSFAL SOLUCIONES DE PRESTAMOS',
                        fontSize: 20,
                        margin: [80, 20, 0, 5],
                    }, {
                        text: `Fecha del reporte: `,
                        margin: [370, 20, 0, 5],
                        bold: true
                    }, {
                        text: `${fechaReporte}`,
                        margin: [370, 0, 0, 5]
                    }, {
                        text: 'Reporte de estado de cartera',
                        margin: [0, 10, 0, 5]
                    },

                    {
                        // to treat a paragraph as a bulleted list, set an array of items under the ul key
                        ul: [
                            'Prestamos activos <%= montoPrestado %>',
                            'Liquidado <%= montoLiquidado %>',
                            'Atrasos <%= prestamosAtrasos %>',
                            'Cant. Prestamos <%= cantPrestamos %>',
                            'Cant. Atrasos <%= cantAtrasos %>',

                        ]
                    }, {
                        text: 'Listado de atrasos',
                        margin: [0, 20, 0, 5]
                    }, {

                        layout: 'headerLineOnly',
                        table: {
                            // headers are automatically repeated if the table spans over multiple pages
                            // you can declare how many rows should be treated as headers
                            headerRows: 1,
                            // widths: ['*', 'auto', 100, '*'],

                            body: [

                                [{
                                    text: 'Solicitud',
                                    bold: true,
                                    fontSize: 10
                                }, {
                                    text: 'Nombre',
                                    bold: true,
                                    fontSize: 10
                                }, {
                                    text: 'Apellido',
                                    bold: true,
                                    fontSize: 10
                                }, {
                                    text: 'Cedula',
                                    bold: true,
                                    fontSize: 10
                                }, {
                                    text: 'Saldo Final',
                                    bold: true,
                                    fontSize: 10
                                }, {
                                    text: 'Firma',
                                    bold: true,
                                    fontSize: 10
                                }, {
                                    text: 'Atraso',
                                    bold: true,
                                    fontSize: 10
                                }, {
                                    text: 'Telefono',
                                    bold: true,
                                    fontSize: 10
                                }],

                                <% if (arraySolicitudesAtrasadas.length > 0) { %>
                                <% arraySolicitudesAtrasadas.forEach(solicitud=> { %>

                                ['<%= solicitud.idSolicitud %>', '<%= solicitud.nombre %>', '<%= solicitud.apellido %>', '<%= solicitud.cedula %>', '<%= solicitud.saldoFinal %>', '<%= solicitud.firmaContrato %>', '<%= solicitud.atraso %>', '<%= solicitud.celular %>'],

                                <% }) %>
                                <% } %>

                            ]
                        }
                    }

                ]
            };

            // Generar el documento PDF
            pdfMake.createPdf(docDefinition).download('reporte estado cartera.pdf');
        });
    </script>

    <div style="padding-bottom: 10px;" class="d-flex justify-content-center w-100">
        <a href="/panel-administracion" style="text-align: center; color: #014c90; text-decoration: none;" type="submit" class=" p-2 w-100" id="btn-info"><i class="bi bi-arrow-left-circle me-2"></i>Regresar atras</a>
    </div>

    <!-- <script src="./routes/solicitudes.js"></script> -->
    <script src="/js/enviar-correo.js"></script>

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>

</body>

</html>