<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- generador de pdf cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->
    <!-- DATATABLE -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link rel="icon" href="/img/favicon/logo-favicon.png">
    <title>Rosfal - Mensajes</title>
</head>

<body>




    <nav class="navbar navbar-expand-lg navbar-light  ">
        <div class="container-fluid  " style="background-color: #ececec;">

            <div class="d-flex">
                <img src="/img/LOGO-ROSFAL.png" alt="logo-rosfal" style="width: 80px;" class="me-2">
                <h5 class="text-dark m-2 d-flex align-items-center" style="font-size: large;">MENSAJES</h5>
            </div>
            <button class="navbar-toggler  " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="offcanvas-body ">

                    <div class="d-flex">
                        <div class="btn-group ">
                            <button type="button" class="hola navbar-toggler d-block me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon show "></span>
                            </button>
                            <i class="bi bi-person-square me-2" style="font-size: 40px;"></i>
                        </div>
                        <div class="user-container me-2 d-flex">
                            <% if (login) { %>
                                <div>
                                    <h4 type="" class="" style="color: #aeaeae;">
                                        <%= name %>
                                    </h4>
                                    <h6>
                                        <%= rol %>
                                    </h6>
                                </div>
                                <%}  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Legal correo cliente  -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Requerimiento de Pago Pre-Legal</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 20px;
            }
            
            .container {
                max-width: 600px;
                background: #fff;
                padding: 20px;
                margin: auto;
                border-radius: 8px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                text-align: center;
            }
            
            .header {
                background-color: #d32f2f;
                color: white;
                padding: 15px;
                font-size: 18px;
                font-weight: bold;
                text-align: left;
            }
            
            .content {
                text-align: left;
                padding: 20px;
                color: #777;
            }
            
            .highlight {
                font-weight: bold;
                color: #d32f2f;
            }
            
            .footer {
                margin-top: 20px;
                font-size: 14px;
                color: #777;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="header"><strong>ROSFAL</strong> | RQUERIMIENTO DE PAGO PRE-LEGAL</div>
            <div style="color: #777;" class="content">

                <p style="text-align: right;">República Dominicana, <strong>${fecha}</strong></p>
                <p><strong>Señor(a):</strong><br>${nombre} ${apellido}</p>

                <p>Le informamos que su crédito presenta un atraso de <strong>${diasAtraso} días</strong>, con un saldo pendiente de <strong>RD$${montoPendiente}</strong>.</p>

                <p style="font-weight: bold; ">De no regularizar su situación de inmediato, su expediente será trasladado a nuestro <strong>BUFETE DE ABOGADOS</strong> externo para su respectivo cobro <strong>PRE-JURÍDICO</strong>. Adicionalmente, su información será reportada al <strong>BURÓ DE CRÉDITO.</strong></p>

                <p>Le recordamos que un mal récord crediticio puede afectar su acceso a financiamiento en cualquier entidad financiera o comercial, limitando su capacidad de crédito futuro. Para evitar estos inconvenientes, le instamos a realizar su pago
                    lo antes posible.</p>

                <p>Si tiene alguna duda o requiere más información, puede comunicarse con nosotros al teléfono <strong style="color: #2D8DBD;">(829) 856-0203</strong> de lunes a viernes en horario de 8:00 a.m. a 5:00 p.m.</p><br><br>

                <p><strong>Atentamente:</strong></p>
                <p><strong>Departamento de Cobros</strong></p>

            </div>
            <div class="footer">
                <p><strong>ROSFAL SOLUCIONES DE PRÉSTAMOS</strong></p>
                <p><strong>T:</strong> 829-856-0203 | <strong>Email:</strong> contacto@rosfal.com</p>
                <p>Síguenos en <strong>FB:</strong> Rosfalrd | <strong>IG:</strong> @Rosfalrd</p>
                <p><a href="www.rosfal.com">www.rosfal.com</a></p>
            </div>
            <hr>
            <p style="font-size: 12px; color: #888; text-align: center;">Este correo puede contener información confidencial y/o protegida legalmente. Si usted no es el destinatario y ha recibido este mensaje por error, por favor notifíquelo al remitente y elimínelo inmediatamente para evitar violar las leyes aplicables.
                Agradecemos su atención y colaboración.</p>
        </div>
    </body>



    <!-- Legal correo cliente  -->




    <!-- prueba nueva solicitud cliente -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirmación de Solicitud de Préstamo</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
            }
            
            .container {
                width: 80%;
                max-width: 600px;
                margin: 20px auto;
                background: #ffffff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }
            
            .header {
                background-color: #2D8DBD;
                color: #fff;
                text-align: center;
                padding: 15px;
                font-size: 20px;
                border-radius: 8px 8px 0 0;
            }
            
            .content {
                padding: 20px;
                color: #333;
                line-height: 1.6;
            }
            
            .footer {
                text-align: center;
                padding: 15px;
                font-size: 14px;
                color: #666;
            }
            
            .footer a {
                color: #2D8DBD;
                text-decoration: none;
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="header">Confirmación de Solicitud de Préstamo</div>
            <div class="content">
                <p>Estimado/a <strong>${nombre} ${apellido}</strong>,</p>
                <p>Esperamos que se encuentre bien. Le escribimos para confirmar que hemos recibido su solicitud de préstamo.</p>
                <p>Nos complace informarle que su solicitud está siendo revisada. Nos pondremos en contacto con usted en breve para informarle si ha sido aprobada.</p>
                <p>Mientras tanto, si tiene alguna pregunta o inquietud, no dude en ponerse en contacto con nosotros.</p>
                <p>Gracias por elegir nuestro servicio de préstamos.</p>
            </div>
            <div class="footer">
                <h4 style="color: #2D8DBD;">ROSFAL SOLUCIONES DE PRÉSTAMOS</h4>
                <p><strong>T.</strong> 829-856-0203 | <strong>Email:</strong> contacto@rosfal.com</p>
                <p>Síguenos en <strong>FB:</strong> Rosfalrd | <strong>IG:</strong> @Rosfalrd</p>
                <p><a href="www.rosfal.com">www.rosfal.com</a></p>
            </div>
        </div>
    </body>

    <!-- prueba nueva solicitud cliente -->

    <!-- prueba -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notificación de Pago</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 20px;
            }
            
            .container {
                max-width: 600px;
                background: #fff;
                padding: 20px;
                margin: auto;
                border-radius: 8px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                text-align: center;
            }
            
            .header {
                background-color: #d32f2f;
                color: white;
                padding: 15px;
                font-size: 18px;
                font-weight: bold;
                text-align: left;
            }
            
            .content {
                text-align: left;
                padding: 20px;
            }
            
            .highlight {
                font-weight: bold;
                color: #d32f2f;
            }
            
            .bank-details {
                background: #f9f9f9;
                padding: 15px;
                border-radius: 5px;
                margin-top: 10px;
            }
            
            .footer {
                margin-top: 20px;
                font-size: 14px;
                color: #777;
            }
            
            .cta-button {
                display: inline-block;
                background: #d32f2f;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
                margin-top: 20px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="header"><strong>ROSFAL</strong> | NOTIFICACION DE PAGO EN ATRASO</div>
            <div class="content">

                <p><strong>SEÑOR (A):</strong> ${solicitud.nombre} ${solicitud.apellido}</p>
                <p>Después de un cordial saludo, le informamos que su préstamo No. <strong>${solicitud.idSolicitud}</strong> realizado en fecha <strong>${solicitud.fechaSolicitud.toLocaleString('es-US').slice(0, 10)}</strong> presenta un atraso al día de
                    hoy de <span class="highlight">${solicitud.atraso} Pesos</span>.</p>
                <p>Le solicitamos poner al día su préstamo para evitar mora por atraso.</p>
                <p>Si necesita ayuda, llámenos al <strong>829-856-0203</strong>.</p>

                <h3>¿Cómo realizar el pago?</h3>
                <p>Puedes realizar tu pago en cualquier sucursal del Banco Popular, BHD León o BanReservas. También puedes transferir desde tu banco a través de internet banking. Recuerda incluir tu número de cédula como referencia.</p>

                <div class="bank-details">
                    <p><strong>Banco Popular</strong><br>Cuenta: 786408559<br>Titular: José Miguel Falcón</p>
                    <p><strong>BHD León</strong><br>Cuenta: 12113510016<br>Titular: José Miguel Falcón</p>
                    <p><strong>BanReservas</strong><br>Cuenta: 9606036287<br>Titular: Magdelin M. Rosario</p>
                </div>

                <p><strong>Nota:</strong> Es imprescindible colocar referencia de su cédula al realizar su pago.</p>

                <a href="www.rosfal.com" class="btn-danger btn">Ir a app Rosfal</a>
            </div>
            <div class="footer">
                <p><strong>ROSFAL SOLUCIONES DE PRÉSTAMOS</strong></p>
                <p><strong>T:</strong> 829-856-0203 | <strong>Email:</strong> contacto@rosfal.com</p>
                <p>Síguenos en <strong>FB:</strong> Rosfalrd | <strong>IG:</strong> @Rosfalrd</p>
                <p><a href="www.rosfal.com">www.rosfal.com</a></p>
            </div>
        </div>
    </body>

    <!-- prueba -->




    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navbarOffcanvasLabel">
                <h5 class="text-dark m-2" style="font-size: large;">MENSAJES</h5>
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="user-container me-2 d-flex align-content-center" style="background-color: #ececec;">
                <% if (login) { %>
                    <i class="bi bi-person-square me-2" style="font-size: 40px;"></i>
                    <div>
                        <h4 type="" class="" style="color: #aeaeae;">
                            <%= name %>
                        </h4>
                        <h6>
                            <%= rol %>
                        </h6>
                    </div>
                    <%}  %>
            </div>
            <hr class="dropdown-divider">
            <%- include('template/navbar-menu') %>
        </div>
    </div>


    <div class=" p-2 d-lg-flex flex-sm-row mt-4 justify-content-md-between " style="background-color: #ececec;">
        <div class="container-fluid   d-flex mt-3 mb-3 me-lg-3" style="background-color: #d4d4d4;">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-nuevo-mensaje-inbox.svg" alt="Mensajes">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arrayMensajes.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/mensajes">Mensajes Nuevos</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white   d-flex mt-3 mb-3 me-lg-3 ">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-mensaje-no-leido.svg" alt="Mensajes no Leidos">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arrayMensajesNoLeidos.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/mensajes-no-leidos">Mensajes No Leidos</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white  d-flex mt-3 mb-3 ">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-mensaje-leido.svg" alt="Mensajes Leidos">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arrayMensajesLeidos.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/mensajes-leidos">Mensajes Leidos</a></div>
                </div>
            </div>
        </div>



    </div>

    <!-- <h3>BANDEJA TODOS LOS MENSAJES</h3> -->
    <div class="container-fluid d-lg-flex">
        <div class="container-fluid p-4 mt-5 ">
            <h3 class="text-secondary"><strong>BANDEJA</strong> MENSAJES NUEVOS</h3>
            <div class="container-fluid p-4">
                <div class="container-table table-responsive">
                    <table id="datatable" class="display responsive nowrap" style="width:100%">
                        <thead class="thead-ligth">
                            <tr>
                                <!-- <th scope="col">Id</th> -->
                                <th scope="col">ID Mensaje</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Telefono</th>
                                <!-- <th scope="col">Email</th> -->
                                <th scope="col">Fecha del Mensaje</th>
                                <th scope="col">Estado Mensaje</th>
                                <!-- <th scope="col">Estatado solicitud</th> -->
                                <!-- <th scope="col">T. desc</th> -->
                                <!-- <th scope="col">Sueldo Neto</th> -->
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% if (arrayMensajes.length > 0) { %>
                                <% arrayMensajes.forEach(mensaje=> { %>

                                    <tr>

                                        <td>
                                            <%= mensaje.idMensaje %>
                                        </td>
                                        <td>
                                            <%= mensaje.nombre %>
                                        </td>
                                        <td>
                                            <%= mensaje.telefono %>
                                        </td>
                                        <td>
                                            <%= mensaje.fechaMensaje.toLocaleString('es-US', { timeZone: "America/Santo_Domingo"}) %>
                                        </td>
                                        <td>
                                            <%= mensaje.estadoMensaje %>
                                        </td>

                                        <td class=""><a id="eventoAct-Inact" href="/mensajes/ver-mensaje-nuevo/<%= mensaje.idMensaje %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a>
                                            <!-- <a id="eventoAct-Inact" href="/mensajes/ver-mensaje/<%=  %>" class="btn " title="Ver Solicitud"><i class="bi bi-folder2-open "></i></a> -->
                                            <!-- <a href="/mensajes/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar empleado"></i></a> -->
                                        </td>
                                    </tr>

                                    <% }) %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid p-4 mt-5 d-flex justify-content-center ">
            <div>
                <h3 class="text-secondary">NINGUN MENSAJE SELECCIONADO</h3>
                <img style="width: 200px;" src="/img/img-icons/img-mensajes-no-select.svg" alt="">
            </div>


        </div>
    </div>


    <div style="padding-bottom: 10px;" class="d-flex justify-content-center w-100">
        <a href="/panel-administracion" style="text-align: center; color: #014c90; text-decoration: none;" type="submit" class=" p-2 w-100" id="btn-info"><i class="bi bi-arrow-left-circle me-2"></i>Regresar atras</a>
    </div>

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>



</body>

</html>