<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- generador de pdf cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->
    <!-- css datatable -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link rel="icon" href="/img/favicon/logo-favicon.png">
    <title>Rosfal - Panel Admistracion</title>
</head>

<body>



    <!-- <h1>pagina de panel administracion</h1> -->


    <div class="container-fluid " style="background-color: #ececec;">
        <div class=" d-flex align-items-center justify-content-between">
            <h5 class="text-dark m-2" style="font-size: large;"><strong style="color: #0B5495;">ROSFAL</strong> PANER DE ADMINISTRACION</h5>

            <div class="btn-group">
                <% if (login) { %>
                    <button type="button" class="btn btn-info"><%= name %></button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="/">Ir a ROSFAL PAGE</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Session</a></li>

                    </ul>
                    <%}  %>
            </div>

        </div>
    </div>



    <div class=" p-2 d-lg-flex flex-sm-row mt-4 justify-content-md-between " style="background-color: #ececec;">
        <div class="container-fluid mt-3 mb-3">
            <div class="container-fluid d-flex p-3" style="background-color: #e28724;">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/img-nuevas-solicitudes.svg" alt="Nuevas Solicitudes">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                <%= arraySolicitudes.length %>
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5" href="/mensajes">Nuevas Solicitudes</a></div>
                    </div>
                </div>
            </div>
            <a href="/solicitudes-nuevas" class=" btn-secondary w-100 d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
        </div>

        <div class="container-fluid mt-3 mb-3">
            <div class="container-fluid d-flex p-3 " style="background-color: #17b75f;">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/img-nuevo-mensaje-inbox.svg" alt="NUevos Mensajes">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                <%= arrayMensajesNuevos.length %>
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5" href="/mensajes-no-leidos">Nuevos Mensajes</a></div>
                    </div>
                </div>
            </div>
            <a href="/mensajes" class=" btn-secondary w-100 d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
        </div>

        <div class="container-fluid mt-3 mb-3">
            <div class="container-fluid d-flex p-3" style="background-color: #17A1B7;">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/img-usuarios.svg" alt="Usuarios">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                10
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5" href="/mensajes-leidos">Usuarios</a></div>
                    </div>
                </div>
            </div>
            <a href="#" class=" btn-secondary w-100 d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
        </div>
        <div class="container-fluid mt-3 mb-3">
            <div class="container-fluid d-flex p-3" style="background-color: #9ed181;">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/street-map-panel-administrativo.svg" alt="rutas">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                <%= arrayRutas.length %>
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5" href="/rutas">Rutas</a></div>
                    </div>
                </div>
            </div>
            <a href="/rutas" class=" btn-secondary w-100 d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
        </div>
        <div class="container-fluid mt-3 mb-3">
            <div class="container-fluid d-flex p-3" style="background-color: #9ed181;">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/street-map-panel-administrativo.svg" alt="rutas">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                <%= arrayTestimoniosNuevos.length %>
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5" href="/testimonios">Testimonios</a></div>
                    </div>
                </div>
            </div>
            <a href="/testimonios" class=" btn-secondary w-100 d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
        </div>



    </div>


    <div class="container-fluid d-lg-flex">
        <!-- <div class="container-fluid container-todos-los-mensajes"> -->
        <div class="container-fluid  mt-5 ">
            <h3 class="text-secondary"><strong>ULTIMAS</strong> SOLICITUDES DE PRESTAMOS APROBADAS</h3>
            <div class="container-fluid ">
                <div class="container-table table-responsive">
                    <table id="datatable" class="display responsive nowrap" style="width:100%">
                        <thead class="thead-ligth">
                            <tr>
                                <!-- <th scope="col">Id</th> -->
                                <th scope="col">ID Solicitud</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Monto Aprobado</th>
                                <th scope="col">Fecha Solicitud</th>
                                <th scope="col">Estado Solicitud</th>
                                <th scope="col">Acciones</th>
                                <!-- <th scope="col">Estatado solicitud</th> -->
                                <!-- <th scope="col">T. desc</th> -->
                                <!-- <th scope="col">Sueldo Neto</th> -->
                            </tr>
                        </thead>
                        <tbody>

                            <% if (arraySolicitudesAprobadas.length > 0) { %>
                                <% arraySolicitudesAprobadas.forEach(solicitud=> { %>


                                    <tr>
                                        <td>
                                            <%= solicitud.idSolicitud %>
                                        </td>
                                        <td>
                                            <%= solicitud.nombre %>
                                        </td>
                                        <td>
                                            <%= solicitud.apellido %>
                                        </td>
                                        <td>
                                            <%= solicitud.montoSolicitado %>
                                        </td>
                                        <td>
                                            <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Yakutat" },) %>
                                        </td>
                                        <td>
                                            <%= solicitud.estadoSolicitud %>
                                        </td>

                                        <td class="w-0 "><a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a>
                                            <!-- <a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%=  %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a> -->
                                            <!-- <a href="/rutas/eliminar-ruta/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Ruta"></i></a> -->
                                        </td>
                                    </tr>

                                    <% }) %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="container-fluid mt-5 ">
            <h3 class="text-secondary"><strong>ULTIMOS</strong> CONTRATOS DE PRESTAMOS FIRMADOS</h3>
            <div class="container-fluid ">
                <div class="container-table table-responsive">
                    <table id="datatable2" class="display responsive nowrap" style="width:100%">
                        <thead class="thead-ligth">
                            <tr>
                                <!-- <th scope="col">Id</th> -->
                                <th scope="col">ID Solicitud</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>

                                <th scope="col">Firma</th>
                                <th scope="col">Fecha Solicitud</th>

                                <th scope="col">Acciones</th>
                                <!-- <th scope="col">Estatado solicitud</th> -->
                                <!-- <th scope="col">T. desc</th> -->
                                <!-- <th scope="col">Sueldo Neto</th> -->
                            </tr>
                        </thead>
                        <tbody>

                            <% if (arraySolicitudesAprobadasFirmadas.length > 0) { %>
                                <% arraySolicitudesAprobadasFirmadas.forEach(solicitud=> { %>


                                    <tr>
                                        <td>
                                            <%= solicitud.idSolicitud %>
                                        </td>
                                        <td>
                                            <%= solicitud.nombre %>
                                        </td>
                                        <td>
                                            <%= solicitud.apellido %>
                                        </td>
                                        <td>
                                            <%= solicitud.firmaContrato %>
                                        </td>
                                        <td>
                                            <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Yakutat" },) %>
                                        </td>

                                        <td class="w-0 "><a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a>
                                            <!-- <a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%=  %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a> -->
                                            <!-- <a href="/rutas/eliminar-ruta/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Ruta"></i></a> -->
                                        </td>
                                    </tr>

                                    <% }) %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="container-fluid p-4 mt-5 ">
        <h3 class="text-secondary"><strong>PRESTAMOS </strong>APROBADOS POR RUTA</h3>

        <p>aqui listado de prestamos por ruta</p>

    </div>


    </div>





    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function() {
            $('#datatable2').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>


</body>

</html>