<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- generador de pdf cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->

    <!-- generador pdfmake -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/vfs_fonts.js"></script>
    <!-- css datatable -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link rel="icon" href="/img/favicon/logo-favicon.png">
    <title>Rosfal - Panel Admistracion</title>
</head>

<body>


    <nav class="navbar navbar-expand-xxl navbar-light">
        <div class="container-fluid  " style="background-color: #ececec;">

            <div class="d-flex">
                <img src="/img/LOGO-ROSFAL.png" alt="logo-rosfal" style="width: 80px; height: 70px;" class="me-2">
                <h5 class="text-dark m-2 d-flex align-items-center" style="font-size: large;">ADMINISTRACION</h5>
            </div>
            <button class="navbar-toggler  " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="offcanvas-body ">

                    <div class="d-flex">
                        <div class="btn-group ">
                            <button type="button" class=" border-0 dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-square me-2" style="font-size: 40px;"></i></button>
                            <ul class="dropdown-menu ">
                                <li> <a href="/register" class=" dropdown-item">Registrar Usuario</a></li>
                                <li> <a href="/controles-anuncios" class=" dropdown-item">Controles Anuncios</a></li>
                                <li><a class="dropdown-item" href="/">Ir a ROSFAL PAGE</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Cerrar Session</a></li>
                            </ul>
                        </div>
                        <div class="user-container me-2 d-flex">
                            <% if (login) { %>
                                <div>
                                    <h4 type="" class="" style="color: #aeaeae;">
                                        <%= name %>
                                    </h4>
                                    <h6>ADMINISTRADOR</h6>
                                </div>
                                <%}  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navbarOffcanvasLabel">
                <h5 class="text-dark m-2" style="font-size: large;">PANER ADMINISTRACION</h5>
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="user-container me-2 d-flex align-content-center" style="background-color: #ececec;">
                <% if (login) { %>
                    <i class="bi bi-person-square me-2" style="font-size: 40px;"></i>
                    <div>
                        <h4 type="" class="" style="color: #aeaeae;">
                            <%= name %>
                        </h4>
                        <h6>ADMINISTRADOR</h6>
                    </div>
                    <%}  %>
            </div>
            <hr class="dropdown-divider">
            <ul class="navbar-nav">
                <li class="p-2"><a class="dropdown-item" href="/panel-administracion"><i class="bi bi-house-door me-2"></i>Inicio</a></li>
                <li class="p-2"><a class="dropdown-item" href="/solicitudes-nuevas"><i class="bi bi-file-text me-2"></i>Solicitudes</a></li>
                <li class="p-2"><a class="dropdown-item" href="/mensajes"><i class="bi bi-envelope-paper me-2"></i>Bandeja Mensaje</a></li>
                <li class="p-2"><a class="dropdown-item" href="/rutas"><i class="bi bi-map me-2"></i>Rutas</a></li>
                <li class="p-2"><a class="dropdown-item" href="/testimonios"><i class="bi bi-chat-left-text me-2"></i>Testimonios</a></li>
                <li class="p-2"><a class="dropdown-item" href="/mantenimiento"><i class="bi bi-sliders me-2"></i>Mantenimiento</a></li>
                <li class="p-2"><a class="dropdown-item" href="/register"><i class="bi bi-person-plus me-2"></i>Registro Usuarios</a></li>
                <li class="p-2"><a class="dropdown-item" href="/controles-anuncios"><i class="bi bi-info-square me-2"></i>Controles Anuncios</a></li>
                <li class="p-2"><a class="dropdown-item" href="/visitas-web"><i class="bi bi-window-fullscreen me-2"></i>Visitas</a></li>
                <hr class="dropdown-divider">
                <li class="p-2"><a class="dropdown-item bg-danger text-light" href="/logout"><i class="bi bi-box-arrow-left me-2"></i>Cerrar Session</a></li>
            </ul>
        </div>
    </div>

    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark d-none d-xxl-block ">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-between " style="justify-content: space-around;">
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/panel-administracion"><i class="bi bi-house-door me-2"></i>Inicio</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/solicitudes-nuevas"><i class="bi bi-file-text me-2"></i>Solicitudes</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/mensajes"><i class="bi bi-envelope-paper me-2"></i>Bandeja Mensaje</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/rutas"><i class="bi bi-map me-2"></i>Rutas</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/testimonios"><i class="bi bi-chat-left-text me-2"></i>Testimonios</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/mantenimiento"><i class="bi bi-sliders me-2"></i>Mantenimiento</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/register"><i class="bi bi-person-plus me-2"></i>Registro Usuarios</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/controles-anuncios"><i class="bi bi-info-square me-2"></i>Controles Anuncios</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/visitas-web"><i class="bi bi-window-fullscreen me-2"></i>Visitas</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex btn-danger text-light" href="/logout"><i class="bi bi-box-arrow-left me-2"></i>Cerrar Session</a></li>
            </ul>
        </div>
    </nav>




    <div class="mt-4 container-fluid">
        <div class="container-fluid d-xxl-flex justify-content-between" style="background-color: #ececec; ">

            <div class="flex-column" style="border-left: 7px solid #cbcbcb; padding-left: 16px">
                <h3 class="me-1 font-weight-bold text-truncate">Resumen</h3>

                <h6>
                    <%= porcentajeDeclinaciones %>% Declinadas <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Porcentaje de solicitudes declinadas vs todas las solicitudes recibidas"></i></h6>
                <h6>
                    <%= porcentajeEnRevision %>% En Revision <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Porcentaje de solicitudes en revision vs todas las solicitudes recibidas"></i></h6>
                <h6>
                    <%= porcentajeNuevas %>% Nuevas <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Porcentaje de solicitudes nuevas vs todas las solicitudes recibidas"></i></h6>
            </div>
            <div class="flex-column" style="border-left: 7px solid #cbcbcb; padding-left: 16px">
                <h3 class="me-1 font-weight-bold text-truncate">Prestamos Activo</h3>
                <h3 class="text-success">
                    <%= montoPrestado=Intl.NumberFormat('en-EN', { style: 'currency' , currency: 'USD'
                    }).format(montoPrestado) %>
                </h3>
                <h6>
                    <%= porcentajeAprobaciones %>% Aprobaciones <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Porcentaje de solicitudes aprobadas vs todas las solicitudes recibidas"></i></h6>
            </div>


            <div class="flex-column" style="border-left: 7px solid #cbcbcb; padding-left: 16px">
                <h3 class="me-1 font-weight-bold text-truncate">Liquidado</h3>
                <h3 class="" style="color: #e28724;">
                    <%= montoLiquidado=Intl.NumberFormat('en-EN', { style: 'currency' , currency: 'USD'
                    }).format(montoLiquidado) %>
                </h3>
                <h6>
                    <%= porcentajeLiquidado %>% Liquidados <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Porcentaje del total de prestamos saldados"></i></h6>
            </div>

            <div class="flex-column" style="border-left: 7px solid #cbcbcb; padding-left: 16px">
                <h3 class="me-1 font-weight-bold text-truncate">En Legal</h3>
                <h3 class="text-danger">
                    <%= prestamosEnLegal=Intl.NumberFormat('en-EN', { style: 'currency' , currency: 'USD'
                    }).format(prestamosEnLegal) %>
                </h3>
                <h6>
                    <%= porcentajeEnLegal %>% Monto En Legal <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Porcentaje de los prestamos que se encuentran en legal"></i></h6>
            </div>

            <div class="flex-column" style="border-left: 7px solid #cbcbcb; padding-left: 16px">
                <h3 class="me-1 font-weight-bold text-truncate ">Atrasos</h3>
                <h3 class="text-danger">
                    <%= prestamosAtrasos=Intl.NumberFormat('en-EN', { style: 'currency' , currency: 'USD'
                    }).format(prestamosAtrasos) %>
                </h3>
                <h6>
                    <%= porcentajeAtraso %>% Monto En Atraso <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Porcentaje de los prestamos que se encuentran en atrasos"></i></h6>
            </div>

            <div class="flex-column" style="border-left: 7px solid #cbcbcb; padding-left: 16px">
                <h3 class="me-1 font-weight-bold text-truncate ">Incobrables</h3>
                <h3 class="text-danger">
                    <%= prestamosIncobrables=Intl.NumberFormat('en-EN', { style: 'currency' , currency: 'USD'
                    }).format(prestamosIncobrables) %>
                </h3>
                <h6>
                    <%= porcentajeIncobrable %>% Incobrable <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Porcentaje de prestamos que no fueron pagados"></i></h6>
            </div>

            <div class="flex-column" style="border-left: 7px solid #cbcbcb; padding-left: 16px">
                <h3 class="me-1 font-weight-bold text-truncate">Cant. Activo</h3>
                <h3>
                    <%= cantPrestamos %>
                </h3>
            </div>

            <div class="flex-column" style="border-left: 7px solid #cbcbcb; padding-left: 16px">
                <h3 class="me-1 font-weight-bold text-truncate">Cant. Atrasos</h3>
                <h3>
                    <%= cantAtrasos %>
                </h3>
            </div>

        </div>
    </div>







    <div class=" p-2 d-xxl-flex flex-sm-row mt-4 justify-content-md-between " style="background-color: #ececec;">
        <div class="container-fluid mt-3 mb-3 shadow m-xxl-3" style="background-color: #e28724; border-radius: 7px; ">
            <div class="container-fluid d-flex p-3">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/img-nuevas-solicitudes.svg" alt="Nuevas Solicitudes">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                <%= arraySolicitudes.length %>
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5">Nuevas Solicitudes</a></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="/solicitudes-nuevas" class="text-light text-decoration-none d-block  text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
            </div>
        </div>

        <div class="container-fluid mt-3 mb-3 shadow m-xxl-3" style="border-radius: 7px; background-color: #17b75f; ">
            <div class="container-fluid d-flex p-3 ">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/img-nuevo-mensaje-inbox.svg" alt="NUevos Mensajes">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                <%= arrayMensajesNuevos.length %>
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5">Nuevos Mensajes</a></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="/mensajes" class="text-light d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
            </div>
        </div>

        <div class="container-fluid mt-3 mb-3 shadow m-xxl-3" style="border-radius: 7px; background-color: #17A1B7;">
            <div class="container-fluid d-flex p-3">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/img-usuarios.svg" alt="Usuarios">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                10
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5">Usuarios</a></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="#" class="  text-light d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
            </div>
        </div>
        <div class="container-fluid mt-3 mb-3 shadow m-xxl-3" style="background-color: #9ed181; border-radius: 7px;">
            <div class="container-fluid d-flex p-3">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/street-map-panel-administrativo.svg" alt="rutas">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                <%= arrayRutas.length %>
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5">Rutas</a></div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <a href="/rutas" class=" text-light d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
            </div>
        </div>
        <div class="container-fluid mt-3 mb-3 shadow m-xxl-3" style="background-color: #aeaeae; border-radius: 7px;">
            <div class="container-fluid d-flex p-3">
                <div class="container-nuevas d-flex">
                    <div class="container-img m-2 me-lg-3">
                        <img style="width: 60px;" src="/img/img-icons/img-testimonios.svg" alt="rutas">
                    </div>
                    <div class="container-titulo">
                        <div class="indicador">
                            <h1 class="text-white">
                                <%= arrayTestimoniosNuevos.length %>
                            </h1>
                        </div>
                        <div class="titulo"><a class="text-decoration-none text-white fs-5">Testimonios</a></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="/testimonios" class=" text-light d-block text-decoration-none text-end"> VER DETALLE <img style="width: 40px;" src="/img/img-icons/btn-ver detalle.svg"></a>
            </div>
        </div>



    </div>



    <div class="container-fluid  mt-5 shadow-sm ">

        <div class="container-fluid ">

            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                            <h3 class="text-secondary"><strong>PRESTAMOS</strong> APROBADOS</h3>
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="container-table table-responsive">
                                <table id="datatable" class="display responsive nowrap" style="width:100%">
                                    <thead class="thead-ligth">
                                        <tr>

                                            <th scope="col">ID Solicitud</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Cedula</th>
                                            <th scope="col">Fecha Solicitud</th>
                                            <th scope="col">Monto Aprobado</th>
                                            <th scope="col">Saldo Final</th>
                                            <th scope="col">Estado Solicitud</th>
                                            <th scope="col">Clasificacion</th>
                                            <th scope="col">Acciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% if (arraySolicitudesAprobadas.length > 0) { %>
                                            <% arraySolicitudesAprobadas.forEach(solicitud=> { %>


                                                <tr>
                                                    <td>
                                                        <%= solicitud.idSolicitud %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.nombre %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.apellido %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.cedula %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Santo_Domingo" },) %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.montoSolicitado %>
                                                    </td>
                                                    <td>
                                                        <% if(solicitud.saldoFinal){ %>
                                                            <span style="color: green;">
                                                                <%= solicitud.saldoFinal %>
                                                            </span>
                                                            <% }else { %>
                                                                <span style="color: rgb(200, 130, 0);">Pendiente</span>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.estadoSolicitud %>
                                                    </td>
                                                    <td>
                                                        <% if (solicitud.clasificacionCliente == 'Sin Clasificacion') { %>
                                                            <p style="background-color: gray; color: white;">
                                                                <%= solicitud.clasificacionCliente %>
                                                            </p>
                                                            <% } else if (solicitud.clasificacionCliente == 'A-Premium') { %>
                                                                <p style="background-color: green; color: white;">
                                                                    <%= solicitud.clasificacionCliente %>
                                                                </p>
                                                                <% } else if (solicitud.clasificacionCliente == 'B-Regular') { %>
                                                                    <p style="background-color: yellow; color: black;">
                                                                        <%= solicitud.clasificacionCliente %>
                                                                    </p>
                                                                    <% } else if (solicitud.clasificacionCliente == 'C-Riesgo') { %>
                                                                        <p style="background-color: orange; color: black;">
                                                                            <%= solicitud.clasificacionCliente %>
                                                                        </p>
                                                                        <% } else if (solicitud.clasificacionCliente == 'D-Desestimado') { %>
                                                                            <p style="background-color: darkred; color: white;">
                                                                                <%= solicitud.clasificacionCliente %>
                                                                            </p>
                                                                            <% } %>
                                                    </td>

                                                    <td class="w-0 "><a id="eventoAct-Inact" href="/solicitudes-aprobadas/editar-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="editar Solicitud"><i class="bi bi-pencil-square "></i></a>
                                                        <!-- <a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%=  %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a> -->
                                                        <!-- <a href="/rutas/eliminar-ruta/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Ruta"></i></a> -->
                                                    </td>
                                                </tr>

                                                <% }) %>
                                                    <% } %>

                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>


    <div class="container-fluid mt-3 shadow-sm ">

        <div class="container-fluid ">

            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            <h3 class="text-secondary"><strong>CONTRATOS</strong> PENDIENTE DE FIRMA</h3>
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <div class="container-table table-responsive">
                                <table id="datatable2" class="display responsive nowrap" style="width:100%">
                                    <thead class="thead-ligth">
                                        <tr>

                                            <th scope="col">ID Solicitud</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Cedula</th>
                                            <th scope="col">Fecha Solicitud</th>
                                            <th scope="col">Monto Aprobado</th>
                                            <th scope="col">Saldo FInal</th>
                                            <th scope="col">Firma</th>
                                            <th scope="col">Acciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% if (arraySolicitudesAprobadasFirmadas.length > 0) { %>
                                            <% arraySolicitudesAprobadasFirmadas.forEach(solicitud=> { %>


                                                <tr>
                                                    <td>
                                                        <%= solicitud.idSolicitud %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.nombre %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.apellido %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.cedula %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Santo_Domingo" },) %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.montoSolicitado %>
                                                    </td>
                                                    <td>
                                                        <% if(solicitud.saldoFinal){ %>
                                                            <span style="color: green;">
                                                                <%= solicitud.saldoFinal %>
                                                            </span>
                                                            <% }else { %>
                                                                <span style="color: rgb(200, 130, 0);">Pendiente</span>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.firmaContrato %>
                                                    </td>

                                                    <td class="w-0 "><a id="eventoAct-Inact" href="/solicitudes-aprobadas/editar-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="editar Solicitud"><i class="bi bi-pencil-square "></i></a>
                                                        <!-- <a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%=  %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a> -->
                                                        <!-- <a href="/rutas/eliminar-ruta/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Ruta"></i></a> -->
                                                    </td>
                                                </tr>

                                                <% }) %>
                                                    <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>


    <div class="container-fluid mt-3 shadow-sm ">


        <div class="container-fluid ">

            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            <h3 class="text-secondary"><strong>PRESTAMOS </strong>EN ATRASOS</h3>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <div class="container-table table-responsive">
                                <table id="datatable3" class="display responsive nowrap" style="width:100%">
                                    <thead class="thead-ligth">
                                        <tr>

                                            <th scope="col">ID Solicitud</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Cedula</th>
                                            <th scope="col">Fecha Solicitud</th>
                                            <th scope="col">Monto Aprobado</th>
                                            <th scope="col">Saldo Final</th>
                                            <th scope="col">Firma</th>
                                            <th scope="col">Atraso</th>
                                            <th scope="col">Ruta</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Clasificacion</th>
                                            <th scope="col">Acciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% if (arraySolicitudesAtrasadas.length > 0) { %>
                                            <% arraySolicitudesAtrasadas.forEach(solicitud=> { %>

                                                <%= i++ %>


                                                    <tr>
                                                        <td>
                                                            <%= solicitud.idSolicitud %>
                                                        </td>
                                                        <td>
                                                            <%= solicitud.nombre %>
                                                        </td>
                                                        <td>
                                                            <%= solicitud.apellido %>
                                                        </td>
                                                        <td>
                                                            <%= solicitud.cedula %>
                                                        </td>
                                                        <td>
                                                            <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Santo_Domingo" },) %>
                                                        </td>
                                                        <td>
                                                            <%= solicitud.montoSolicitado %>
                                                        </td>
                                                        <td>
                                                            <% if(solicitud.saldoFinal){ %>
                                                                <span style="color: green;">
                                                                    <%= solicitud.saldoFinal %>
                                                                </span>
                                                                <% }else { %>
                                                                    <span style="color: rgb(200, 130, 0);">Pendiente</span>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <%= solicitud.firmaContrato %>
                                                        </td>
                                                        <td class="text-danger">
                                                            <%= solicitud.atraso %>
                                                        </td>
                                                        <td>
                                                            <%= solicitud.ruta %>
                                                        </td>
                                                        <td>
                                                            <%= solicitud.celular %>
                                                        </td>
                                                        <td>
                                                            <% if (solicitud.clasificacionCliente == 'Sin Clasificacion') { %>
                                                                <p style="background-color: gray; color: white;">
                                                                    <%= solicitud.clasificacionCliente %>
                                                                </p>
                                                                <% } else if (solicitud.clasificacionCliente == 'A-Premium') { %>
                                                                    <p style="background-color: green; color: white;">
                                                                        <%= solicitud.clasificacionCliente %>
                                                                    </p>
                                                                    <% } else if (solicitud.clasificacionCliente == 'B-Regular') { %>
                                                                        <p style="background-color: yellow; color: black;">
                                                                            <%= solicitud.clasificacionCliente %>
                                                                        </p>
                                                                        <% } else if (solicitud.clasificacionCliente == 'C-Riesgo') { %>
                                                                            <p style="background-color: orange; color: black;">
                                                                                <%= solicitud.clasificacionCliente %>
                                                                            </p>
                                                                            <% } else if (solicitud.clasificacionCliente == 'D-Desestimado') { %>
                                                                                <p style="background-color: darkred; color: white;">
                                                                                    <%= solicitud.clasificacionCliente %>
                                                                                </p>
                                                                                <% } %>
                                                        </td>

                                                        <td class="w-0 "><a id="eventoAct-Inact" href="/solicitudes-aprobadas/editar-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="editar Solicitud"><i class="bi bi-pencil-square "></i></a>

                                                            <a href="/novedad-cliente/<%= i %>" type="submit" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalNovedad<%= i %>">REGISTAR NOVEDAD</a>

                                                            <!-- <a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%=  %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a> -->
                                                            <!-- <a href="/rutas/eliminar-ruta/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Ruta"></i></a> -->
                                                        </td>
                                                    </tr>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModalNovedad<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title text-center fw-bold" id="staticBackdropLabel">Se notifico el cliente ?</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <form method="POST">
                                                                        <input type="text" name="idSolicitud" value="<%= solicitud.idSolicitud %>" class="d-none">
                                                                        <input type="text" name="celular" value="<%= solicitud.celular %>" class="d-none">
                                                                        <input type="text" name="ruta" value="<%= solicitud.ruta %>" class="d-none">
                                                                        <input type="text" name="atraso" value="<%= solicitud.atraso %>" class="d-none">
                                                                        <div class="modal-footer border-0">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                                            <button type="submit" class="btn btn-primary">Si, Notificado</button>
                                                                        </div>
                                                                    </form>



                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <% }) %>
                                                        <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid mt-3 shadow-sm ">


        <div class="container-fluid ">

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        <h3 class="text-secondary"><strong>HISTORIAL </strong>DE NOTIFICACIONES ATRASOS</h3>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <div class="container-table table-responsive">
                            <table id="datatable5" class="display responsive nowrap" style="width:100%">
                                <thead class="thead-ligth">
                                    <tr>

                                        <th scope="col">ID Solicitud</th>
                                        <th scope="col">ID Novedad</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Celular</th>
                                        <th scope="col">Ruta</th>
                                        <th scope="col">Atraso Notificado</th>
                                        <th scope="col">Fecha Notificacion</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <% if (arrayNotificacionAtraso.length > 0) { %>
                                        <% arrayNotificacionAtraso.forEach(notificacionAtraso=> { %>


                                            <tr>
                                                <td>
                                                    <%= notificacionAtraso.idSolicitud %>
                                                </td>
                                                <td>
                                                    <%= notificacionAtraso.idNovedadAtraso %>
                                                </td>
                                                <td>
                                                    <%= notificacionAtraso.nombre %>
                                                </td>
                                                <td>
                                                    <%= notificacionAtraso.apellido %>
                                                </td>
                                                <td>
                                                    <%= notificacionAtraso.celular %>
                                                </td>
                                                <td>
                                                    <%= notificacionAtraso.ruta %>
                                                </td>
                                                <td class="text-danger">
                                                    <%= notificacionAtraso.atraso %>
                                                </td>

                                                <td>
                                                    <%= notificacionAtraso.fechaNovedad.toLocaleString('es-US', { timeZone: "America/Santo_Domingo" },) %>
                                                </td>


                                            </tr>

                                            <% }) %>
                                                <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid mt-3 shadow-sm ">


        <div class="container-fluid ">

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                    <h3 class="text-secondary"><strong>PRESTAMOS </strong>EN LEGAL</h3>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <div class="container-table table-responsive">
                            <table id="datatable6" class="display responsive nowrap" style="width:100%">
                                <thead class="thead-ligth">
                                    <tr>

                                        <th scope="col">ID Solicitud</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Cedula</th>
                                        <th scope="col">Fecha Solicitud</th>
                                        <th scope="col">Monto Aprobado</th>
                                        <th scope="col">Saldo Final</th>
                                        <th scope="col">Firma</th>
                                        <th scope="col">Monto en Legal</th>
                                        <th scope="col">Ruta</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Clasificacion</th>
                                        <th scope="col">Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <% if (arraySolicitudesEnLegal.length > 0) { %>
                                        <% arraySolicitudesEnLegal.forEach(solicitud=> { %>

                                            <%= i++ %>


                                                <tr>
                                                    <td>
                                                        <%= solicitud.idSolicitud %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.nombre %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.apellido %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.cedula %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Santo_Domingo" },) %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.montoSolicitado %>
                                                    </td>
                                                    <td>
                                                        <% if(solicitud.saldoFinal){ %>
                                                            <span style="color: green;">
                                                                <%= solicitud.saldoFinal %>
                                                            </span>
                                                            <% }else { %>
                                                                <span style="color: rgb(200, 130, 0);">Pendiente</span>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.firmaContrato %>
                                                    </td>
                                                    <td class="text-danger">
                                                        <%= solicitud.legalMonto %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.ruta %>
                                                    </td>
                                                    <td>
                                                        <%= solicitud.celular %>
                                                    </td>
                                                    <td>
                                                        <% if (solicitud.clasificacionCliente == 'Sin Clasificacion') { %>
                                                            <p style="background-color: gray; color: white;">
                                                                <%= solicitud.clasificacionCliente %>
                                                            </p>
                                                            <% } else if (solicitud.clasificacionCliente == 'A-Premium') { %>
                                                                <p style="background-color: green; color: white;">
                                                                    <%= solicitud.clasificacionCliente %>
                                                                </p>
                                                                <% } else if (solicitud.clasificacionCliente == 'B-Regular') { %>
                                                                    <p style="background-color: yellow; color: black;">
                                                                        <%= solicitud.clasificacionCliente %>
                                                                    </p>
                                                                    <% } else if (solicitud.clasificacionCliente == 'C-Riesgo') { %>
                                                                        <p style="background-color: orange; color: black;">
                                                                            <%= solicitud.clasificacionCliente %>
                                                                        </p>
                                                                        <% } else if (solicitud.clasificacionCliente == 'D-Desestimado') { %>
                                                                            <p style="background-color: darkred; color: white;">
                                                                                <%= solicitud.clasificacionCliente %>
                                                                            </p>
                                                                            <% } %>
                                                    </td>

                                                    <td class="w-0 "><a id="eventoAct-Inact" href="/solicitudes-aprobadas/editar-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="editar Solicitud"><i class="bi bi-pencil-square "></i></a>



                                                        <!-- <a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%=  %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a> -->
                                                        <!-- <a href="/rutas/eliminar-ruta/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Ruta"></i></a> -->
                                                    </td>
                                                </tr>



                                                <% }) %>
                                                    <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid mt-3 shadow-sm ">


        <div class="container-fluid ">

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                    <h3 class="text-secondary"><strong>PRESTAMOS </strong>LIQUIDADOS</h3>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body">
                        <div class="container-table table-responsive">
                            <table id="datatable4" class="display responsive nowrap" style="width:100%">
                                <thead class="thead-ligth">
                                    <tr>

                                        <th scope="col">ID Solicitud</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Cedula</th>
                                        <th scope="col">Fecha Solicitud</th>
                                        <th scope="col">Monto Aprobado</th>
                                        <th scope="col">Saldo Final</th>
                                        <th scope="col">Firma</th>
                                        <th scope="col">Atraso</th>
                                        <th scope="col">Ruta</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Clasificacion</th>
                                        <th scope="col">Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <% if (arraySolicitudesLiquidadas.length > 0) { %>
                                        <% arraySolicitudesLiquidadas.forEach(solicitud=> { %>


                                            <tr>
                                                <td>
                                                    <%= solicitud.idSolicitud %>
                                                </td>
                                                <td>
                                                    <%= solicitud.nombre %>
                                                </td>
                                                <td>
                                                    <%= solicitud.apellido %>
                                                </td>
                                                <td>
                                                    <%= solicitud.cedula %>
                                                </td>
                                                <td>
                                                    <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Yakutat" },) %>
                                                </td>
                                                <td>
                                                    <%= solicitud.montoSolicitado %>
                                                </td>
                                                <td>
                                                    <% if(solicitud.saldoFinal){ %>
                                                        <span style="color: green;">
                                                            <%= solicitud.saldoFinal %>
                                                        </span>
                                                        <% }else { %>
                                                            <span style="color: rgb(200, 130, 0);">Pendiente</span>
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <%= solicitud.firmaContrato %>
                                                </td>
                                                <td class="text-danger">
                                                    <%= solicitud.atraso %>
                                                </td>
                                                <td>
                                                    <%= solicitud.ruta %>
                                                </td>
                                                <td>
                                                    <%= solicitud.celular %>
                                                </td>
                                                <td>
                                                    <% if (solicitud.clasificacionCliente == 'Sin Clasificacion') { %>
                                                        <p style="background-color: gray; color: white;">
                                                            <%= solicitud.clasificacionCliente %>
                                                        </p>
                                                        <% } else if (solicitud.clasificacionCliente == 'A-Premium') { %>
                                                            <p style="background-color: green; color: white;">
                                                                <%= solicitud.clasificacionCliente %>
                                                            </p>
                                                            <% } else if (solicitud.clasificacionCliente == 'B-Regular') { %>
                                                                <p style="background-color: yellow; color: black;">
                                                                    <%= solicitud.clasificacionCliente %>
                                                                </p>
                                                                <% } else if (solicitud.clasificacionCliente == 'C-Riesgo') { %>
                                                                    <p style="background-color: orange; color: black;">
                                                                        <%= solicitud.clasificacionCliente %>
                                                                    </p>
                                                                    <% } else if (solicitud.clasificacionCliente == 'D-Desestimado') { %>
                                                                        <p style="background-color: darkred; color: white;">
                                                                            <%= solicitud.clasificacionCliente %>
                                                                        </p>
                                                                        <% } %>
                                                </td>

                                                <td class="w-0 "><a id="eventoAct-Inact" href="/solicitudes-aprobadas/editar-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="editar Solicitud"><i class="bi bi-pencil-square "></i></a>

                                                    <!-- <a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%=  %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a> -->
                                                    <!-- <a href="/rutas/eliminar-ruta/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Ruta"></i></a> -->
                                                </td>
                                            </tr>

                                            <% }) %>
                                                <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <div class="container-fluid mt-3 shadow-sm ">


        <div class="container-fluid ">

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                    <h3 class="text-secondary"><strong>PRESTAMOS </strong>INCOBRABLES</h3>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                    <div class="accordion-body">
                        <div class="container-table table-responsive">
                            <table id="datatable7" class="display responsive nowrap" style="width:100%">
                                <thead class="thead-ligth">
                                    <tr>

                                        <th scope="col">ID Solicitud</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Cedula</th>
                                        <th scope="col">Fecha Solicitud</th>
                                        <th scope="col">Monto Aprobado</th>
                                        <th scope="col">Saldo Final</th>
                                        <th scope="col">Firma</th>
                                        <th scope="col">Incobrable</th>
                                        <th scope="col">Ruta</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Clasificacion</th>
                                        <th scope="col">Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <% if (arraySolicitudesIncobrables.length > 0) { %>
                                        <% arraySolicitudesIncobrables.forEach(solicitud=> { %>


                                            <tr>
                                                <td>
                                                    <%= solicitud.idSolicitud %>
                                                </td>
                                                <td>
                                                    <%= solicitud.nombre %>
                                                </td>
                                                <td>
                                                    <%= solicitud.apellido %>
                                                </td>
                                                <td>
                                                    <%= solicitud.cedula %>
                                                </td>
                                                <td>
                                                    <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Yakutat" },) %>
                                                </td>
                                                <td>
                                                    <%= solicitud.montoSolicitado %>
                                                </td>
                                                <td>
                                                    <% if(solicitud.saldoFinal){ %>
                                                        <span style="color: green;">
                                                            <%= solicitud.saldoFinal %>
                                                        </span>
                                                        <% }else { %>
                                                            <span style="color: rgb(200, 130, 0);">Pendiente</span>
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <%= solicitud.firmaContrato %>
                                                </td>
                                                <td class="text-danger">
                                                    <%= solicitud.incobrableMonto %>
                                                </td>
                                                <td>
                                                    <%= solicitud.ruta %>
                                                </td>
                                                <td>
                                                    <%= solicitud.celular %>
                                                </td>
                                                <td>
                                                    <% if (solicitud.clasificacionCliente == 'Sin Clasificacion') { %>
                                                        <p style="background-color: gray; color: white;">
                                                            <%= solicitud.clasificacionCliente %>
                                                        </p>
                                                        <% } else if (solicitud.clasificacionCliente == 'A-Premium') { %>
                                                            <p style="background-color: green; color: white;">
                                                                <%= solicitud.clasificacionCliente %>
                                                            </p>
                                                            <% } else if (solicitud.clasificacionCliente == 'B-Regular') { %>
                                                                <p style="background-color: yellow; color: black;">
                                                                    <%= solicitud.clasificacionCliente %>
                                                                </p>
                                                                <% } else if (solicitud.clasificacionCliente == 'C-Riesgo') { %>
                                                                    <p style="background-color: orange; color: black;">
                                                                        <%= solicitud.clasificacionCliente %>
                                                                    </p>
                                                                    <% } else if (solicitud.clasificacionCliente == 'D-Desestimado') { %>
                                                                        <p style="background-color: darkred; color: white;">
                                                                            <%= solicitud.clasificacionCliente %>
                                                                        </p>
                                                                        <% } %>
                                                </td>

                                                <td class="w-0 "><a id="eventoAct-Inact" href="/solicitudes-aprobadas/editar-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="editar Solicitud"><i class="bi bi-pencil-square "></i></a>

                                                    <!-- <a id="eventoAct-Inact" href="/solicitudes-aprobadas/ver-solicitud/<%=  %>" class="btn " title="Ver Mensaje"><i class="bi bi-folder2-open "></i></a> -->
                                                    <!-- <a href="/rutas/eliminar-ruta/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Ruta"></i></a> -->
                                                </td>
                                            </tr>

                                            <% }) %>
                                                <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    </div>





    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay informacin",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function() {
            $('#datatable2').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay informacin",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function() {
            $('#datatable3').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay informacin",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function() {
            $('#datatable4').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay informacin",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function() {
            $('#datatable5').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [1, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay informacin",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function() {
            $('#datatable6').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [1, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay informacin",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>

    <script>
        $(document).ready(function() {
            $('#datatable7').DataTable({
                "lengthMenu": [5, 10, 25, 50, 100],
                order: [
                    [1, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay informacin",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>


    <script src="/js/notificacion-atrasos.js">
    </script>


</body>

</html>