<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- generador de pdf cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->
    <!-- css datatable -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <title>solicitudes-nuevas</title>
</head>

<body>

    <div class="container-fluid " style="background-color: #ececec;">
        <div class=" d-flex align-items-center justify-content-between">
            <div class="d-flex">
                <a class="bg-info text-decoration-none text-light p-2" href="/panel-administracion">VOLVER ATRAS</a>
                <h5 class="text-dark m-2" style="font-size: large;">PANEL DE SOLICITUDES DE PRESTAMOS</h5>
            </div>
            <div class="btn-group">
                <% if (login) { %>
                    <button type="button" class="btn btn-info"><%= name %></button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="/">Ir a ROSFAL PAGE</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Session</a></li>

                    </ul>
                    <%}  %>
            </div>

        </div>
    </div>



    <div class=" p-2 d-lg-flex flex-sm-row mt-4 " style="background-color: #ececec;">
        <div class="container-fluid mt-3 mb-3 me-lg-3 d-flex" style="background-color: #d4d4d4;">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-nuevas-solicitudes.svg" alt="Solicitudes Nuevas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudes.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-nuevas">Solicitudes Nuevas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 me-lg-3 d-flex ">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-aprobadas.svg" alt="Solicitudes Aprobadas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesAprobadas.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-aprobadas">Solicitudes Aprobadas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 me-lg-3 d-flex">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-declinadas.svg" alt="Solicitudes Declinadas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesDeclinadas.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-declinadas">Solicitudes Declinadas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 d-flex">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-en-revision.svg" alt="Solicitudes en Revision">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesEnRevision.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-en-revision">Solicitudes en Revision</a></div>
                </div>
            </div>
        </div>


    </div>


    <div class="container-fluid p-4 mt-5">
        <h3 class="text-secondary">SOLICITUDES NUEVAS</h3>
        <div class="container-fluid p-4">
            <div class="container-table table-responsive">
                <table id="datatable" class="display responsive nowrap" style="width:100%">
                    <!-- <table id="datatable" class="display table table-sm table-hover  " style="width: 100%;"> -->
                    <thead class="thead-ligth">
                        <tr>
                            <!-- <th scope="col">Id</th> -->
                            <th scope="col">ID Solicitud</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Fecha Solicitud</th>
                            <th scope="col">Monto Solicitud</th>
                            <th scope="col">Tipo de Prestamo</th>
                            <th scope="col">Estado Solicitud</th>
                            <!-- <th scope="col">T. desc</th> -->
                            <!-- <th scope="col">Sueldo Neto</th> -->
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% if (arraySolicitudes.length > 0) { %>
                            <% arraySolicitudes.forEach(solicitud=> { %>

                                <tr>

                                    <td>
                                        <%= solicitud.idSolicitud %>
                                    </td>
                                    <td>
                                        <%= solicitud.nombre %>
                                    </td>
                                    <td>
                                        <%= solicitud.apellido %>
                                    </td>
                                    <td>
                                        <%= solicitud.cedula %>
                                    </td>
                                    <td>
                                        <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Yakutat" },) %>
                                    </td>
                                    <td>
                                        <%= solicitud.montoSolicitado %>
                                    </td>
                                    <td>
                                        <%= solicitud.tipoPrestamo %>
                                    </td>
                                    <td>
                                        <%= solicitud.estadoSolicitud %>
                                    </td>
                                    <td class="w-0 "><a href="/solicitudes-nuevas/editar-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="Editar Solicitud"><i class="bi bi-pencil-square "></i></a>
                                        <a id="eventoAct-Inact" href="/solicitudes-nuevas/ver-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="Ver Solicitud"><i class="bi bi-folder2-open "></i></a>
                                        <a href="/solicitudes-nuevas/<%= solicitud.idSolicitud %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar Solicitud"></i></a>
                                    </td>
                                </tr>

                                <% }) %>
                                    <% } %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>

</body>

</html>