<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Rosfal soluciones de prestamos, Illustrator: prestamos personales y comerciales, Category: solicitar ya, contactos, ">
    <meta name="description" content="Rosfal soluciones de prestamos">
    <meta name="keywords" content="">
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="index,follow">
    <meta name="google-site-verification" content="utQ9qmqwRiwOOaWekxPXhNbflvliUELb-MgMVAOZGfg">
    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- generador de pdf cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->
    <link rel="icon" href="/img/favicon/logo-favicon.png">
    <title>Rosfal - Solicita Ya</title>
</head>

<body>
    <div class="whatsapp">
        <a class="btn-ws " href="https://bit.ly/3xzs0RV" target="_blank"><img class="img-fluid" src="/img/logo-ws.png" alt="logo ws"></a>
    </div>

    <div class="container-fluid " style="background-color: #0B5496;">
        <div class="container d-flex align-items-center justify-content-between">
            <a class="text-decoration-none" href="https://bit.ly/3xzs0RV" target="_blank">
                <h5 class="text-light m-0 " style="font-size: large;">829-856-0203</h5>
            </a>
            <div class="container-redes mt-1 mb-1">
                <a href="https://www.facebook.com/rosfalrd/" target="_blank"> <img style="width: 30px;" src="/img/logo-facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/rosfalrd/" target="_blank"> <img style="width: 30px;" src="/img/logo-instagram.png" alt="instagram"></a>
                <a href="https://bit.ly/3pUAZZq" target="_blank"> <img style="width: 30px;" src="/img/logo-ws-navar-footer.png" alt="ws"></a>
                <a href="#"> <img style="width: 30px;" src="/img/logo-twiter.png" alt="twier"></a>
            </div>
        </div>
    </div>
    <div class="container ">

        <nav class="navbar navbar-expand-lg navbar-light bg-0 p-0">
            <div class="container-fluid">
                <a class="navbar-brand " href="/"><img src="/img/LOGO-ROSFAL.png" style="width: 120px;" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse  justify-content-around" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/"><strong class="hover">INICIO</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/quienes-somos"><strong class="hover">QUIENES SOMOS</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" style="font-size: 15px;" href="/solicita-ya"><strong class="hover">SOLICITA YA</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" style="font-size: 15px;" href="/preguntas-frecuentes"><strong class="hover">PREGUNTAS FRECUENTES</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" style="font-size: 15px;" href="/contacto"><strong class="hover">CONTACTOS</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- <h1>pagina de solicita ya</h1> -->

    <div class="d-flex justify-content-center align-items-center w-100" style="position: relative;">
        <img src="/img/background-solicita-ya.png" alt="" class="w-100">
        <H2 style="position: absolute; color: white; ">
            <strong>SOLICITA YA</strong>
        </H2>
    </div>

    <div class="container mt-3 mb-3 d-flex ">
        <H3 style="background-color: #0B5496; border-radius: 7px; margin-left: 3px;" class="me-4 text-light"><strong>SOLICITA AHORA</strong></H3>
        <div class="d-flex ">
            <i class="bi bi-hand-index me-1 fs-4"></i>
            <H3><strong><a style="color: #0B5496" class="text-decoration-none " href="/consulta-solicitud">ESTATUS SOLICITUD</a></strong></H3>
        </div>

    </div>

    <div class="container mt-3 mb-5">

        <form class="" autocomplete="off" action="" method="POST">

            <div class="container d-lg-flex justify-content-center mb-3">
                <div class="container-label col-lg-6 mb-3">

                    <h5 style="background-color: #e1e1e1; border-radius: 20px;" class="me-lg-5"><img src="/img/img-icons/img-garante.svg" width="40px"> Sin garante</h5>
                    <h5 style="background-color: #e1e1e1; border-radius: 20px;" class="me-lg-5"><img src="/img/img-icons/img-aprobacion.svg" width="40px"> Aprobación en línea</h5>
                    <h5 style="background-color: #e1e1e1; border-radius: 20px;" class="me-lg-5"><img src="/img/img-icons/img-taza.svg" width="40px"> Tasa de interés más baja</h5>
                    <h5 style="background-color: #e1e1e1; border-radius: 20px;" class="me-lg-5"><img src="/img/img-icons/img-calendar.svg" width="40px"> Pagas al tiempo que quieras</h5>
                </div>



                <div class="container col-lg-6" id="formulario" style="background-color: #0b55964b; border-radius: 20px;">
                    <h3 class="text-center">Monto solicitado</h3>
                    <div class=" d-flex justify-content-center flex-column align-content-center align-items-center">
                        <h1> RD $<span id="demo"></span></h1>
                        <div class="d-flex justify-content-center w-100">
                            <div class="rangeslider w-100">
                                <input style="width: 100%;" name="montoSolicitado" type="range" step="1000" min="2000" max="20000" value="2000" class="myslider form-range" id="sliderRange" list="tickmarks">
                                <datalist class="tickmarks" id="tickmarks">
                             <option value="2000">
                             <option value="3000">
                             <option value="4000">
                             <option value="5000">
                             <option value="6000">
                             <option value="7000">
                             <option value="8000">
                             <option value="9000">
                             <option value="10000">
                             <option value="11000">
                             <option value="12000">
                             <option value="13000">
                             <option value="14000">
                             <option value="15000">
                             <option value="16000">
                             <option value="17000">
                             <option value="18000">
                             <option value="19000">
                             <option value="20000">
                        </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="d-lg-flex row justify-content-between mt-3">
                        <div class="d-flex mt-3">
                            <img style="width: 40px; height: 40px;" src="/img/img-icons/calendar-frecuencia.svg" alt="">
                            <select class="form-control form-select border-0 bg-transparent" name="frecuenciaPagos" id="frecuenciaPago" required>
                            <option value="" selected>Seleccione la frecuencia de pagos</option>
                            <option value="pagos diarios">Pagos Diarios</option>
                            <option value="pagos semanales">Pagos Semanales</option>
                            <option value="pagos quincenales">Pagos Quincenales</option>
                            <option value="pagos mensuales">Pagos Mensuales</option>
                        </select>
                        </div>

                        <!-- <label for="">Indique la cantidad de dias "max 46"</label> -->
                        <div id="labelDias">
                            <div class="d-flex mt-3">
                                <img style="width: 40px; height: 40px;" src="/img/img-icons/calculator.svg" alt="">
                                <select class="form-control form-select border-0 bg-transparent" name="cantidadPagosDiarios" id="cuotaDias">
                            <option value="" selected>Seleccione la cantidad de días</option>
                            <option value="1">1 dia</option>
                            <option value="2">2 dias</option>
                            <option value="3">3 dias</option>
                            <option value="4">4 dias</option>
                            <option value="5">5 dias</option>
                            <option value="6">6 dias</option>
                            <option value="7">7 dias</option>
                            <option value="8">8 dias</option>
                            <option value="9">9 dias</option>
                            <option value="10">10 dias</option>
                            <option value="11">11 dias</option>
                            <option value="12">12 dias</option>
                            <option value="13">13 dias</option>
                            <option value="14">14 dias</option>
                            <option value="15">15 dias</option>
                            <option value="16">16 dias</option>
                            <option value="17">17 dias</option>
                            <option value="18">18 dias</option>
                            <option value="19">19 dias</option>
                            <option value="20">20 dias</option>
                            <option value="21">21 dias</option>
                            <option value="22">22 dias</option>
                            <option value="23">23 dias</option>
                            <option value="24">24 dias</option>
                            <option value="25">25 dias</option>
                            <option value="26">26 dias</option>
                            <option value="27">27 dias</option>
                            <option value="28">28 dias</option>
                            <option value="29">29 dias</option>
                            <option value="30">30 dias</option>
                            <option value="31">31 dias</option>
                            <option value="32">32 dias</option>
                            <option value="33">33 dias</option>
                            <option value="34">34 dias</option>
                            <option value="35">35 dias</option>
                            <option value="36">36 dias</option>
                            <option value="37">37 dias</option>
                            <option value="38">38 dias</option>
                            <option value="39">39 dias</option>
                            <option value="40">40 dias</option>
                            <option value="41">41 dias</option>
                            <option value="42">42 dias</option>
                            <option value="43">43 dias</option>
                            <option value="44">44 dias</option>
                            <option value="45">45 dias</option>
                            <option value="46">46 dias</option>
                            </select>
                            </div>
                        </div>
                        <div id="labelSemanas">
                            <div class="d-flex mt-3">
                                <img style="width: 40px; height: 40px;" src="/img/img-icons/calculator.svg" alt="">
                                <select class="form-control form-select border-0 bg-transparent" name="cantidadPagosSemanales" id="cuotaSemanas">
                            <option value="" selected>Seleccione la cantidad de semanas</option>
                            <option value="1">1 semana</option>
                            <option value="2">2 semanas</option>
                            <option value="3">3 semanas</option>
                            <option value="4">4 semanas</option>
                            <option value="5">5 semanas</option>
                            <option value="6">6 semanas</option>
                            <option value="7">7 semanas</option>
                            <option value="8">8 semanas</option>
                            <option value="9">9 semanas</option>
                            <option value="10">10 semanas</option>
                            <option value="11">11 semanas</option>
                            <option value="12">12 semanas</option>
                        </select>
                            </div>
                        </div>
                        <div id="labelQuincenas">
                            <div class="d-flex mt-3">
                                <img style="width: 40px; height: 40px;" src="/img/img-icons/calculator.svg" alt="">
                                <select class="form-control form-select border-0 bg-transparent" name="cantidadPagosQuincenales" id="cuotaQuincenas">
                            <option value="" selected>Seleccione la cantidad de quincenas</option>
                            <option value="1">1 quincena</option>
                            <option value="2">2 quincenas</option>
                            <option value="3">3 quincenas</option>
                            <option value="4">4 quincenas</option>
                            <option value="5">5 quincenas</option>
                            <option value="6">6 quincenas</option>
                            <option value="7">7 quincenas</option>
                            <option value="8">8 quincenas</option>
                            <option value="9">9 quincenas</option>
                            <option value="10">10 quincenas</option>
                            <option value="11">11 quincenas</option>
                            <option value="12">12 quincenas</option>
                            <option value="13">13 quincenas</option>
                            <option value="14">14 quincenas</option>
                            <option value="15">15 quincenas</option>
                            <option value="16">16 quincenas</option>
                        </select>
                            </div>
                        </div>
                        <div id="labelMeses">
                            <div class="d-flex mt-3">
                                <img style="width: 40px; height: 40px;" src="/img/img-icons/calculator.svg" alt="">
                                <select class="form-control form-select border-0 bg-transparent" name="cantidadPagosMensuales" id="cuotaMeses">
                            <option value="" selected>Seleccione la cantidad de meses</option>
                            <option value="1">1 mes</option>
                            <option value="2">2 meses</option>
                            <option value="3">3 meses</option>
                            <option value="4">4 meses</option>
                            <option value="5">5 meses</option>
                            <option value="6">6 meses</option>
                            <option value="7">7 meses</option>
                            <option value="8">8 meses</option>
                            <option value="9">9 meses</option>
                            <option value="10">10 meses</option>
                            <option value="11">11 meses</option>
                            <option value="12">12 meses</option>
                        </select>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary m-3 p-2" id="btn">Calcular Cuota</button>
                    </div>

                    <div class=" justify-content-center d-lg-flex ">
                        <h4 class="me-lg-3 text-center" id="labelResul"></h4>
                        <h4 class="text-center" id="labelRespuesta"></h4>
                    </div>
                </div>

            </div>

            <h4 class="text-secondary mt-1">Completa este formulario para enviar su solicitud de préstamo</h4>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <strong>PASO 1 - DATOS PERSONALES </strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <!-- primera parte -->
                            <div class="container-datos-header ">
                                <div class="datos-de-busqueda ">


                                    <div class="form-group  ">
                                        <label for="tipoPrestamo" class="  p-2">Tipo de Prestamo <span class="text-secondary fs-6">Obligatorio <span class="text-danger">*</span></span></label>
                                        <select name="tipoPrestamo" class="form-control form-select" id="inputTipPrestamo" required>
                                            <option value="">Seleccionar</option>
                                            <option value="Personal">Personal</option>
                                            <option value="Comercial">Comercial</option>
                                        </select>
                                    </div>

                                    <div class="">
                                        <div class="form-group   ">
                                            <div class="input-group ">
                                                <div class=" me-lg-5">
                                                    <label class="p-2">Cedula</label>
                                                    <input type="text" name="cedula" class="form-control " id="cedula">
                                                </div>
                                                <div class="me-lg-5">
                                                    <label for="sexo" class="p-2">Sexo</label>
                                                    <select name="sexo" class="form-control" id="sexo">
                                                        <option value="seleccionar" selected>Seleccionar</option>
                                                        <option value="Hombre">Hombre</option>
                                                        <option value="Mujer">Mujer</option>
                                                    </select>
                                                </div>
                                                <div class="me-lg-5">
                                                    <label for="sexo" class="p-2">Estado Civil</label>
                                                    <select name="estadoCivil" class="form-control" id="estadoCivil">
                                                        <option value="seleccionar" selected>Seleccionar</option>
                                                        <option value="Casado/a">Casado/a</option>
                                                        <option value="Soltero/a">Soltero/a</option>
                                                        <option value="Union Libre">Union Libre</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nombre" class="  p-2">Nombre</label>
                                <input type="text" name="nombre" class="form-control p-2 " id="nombre" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="apellido" class="p-2">Apellido</label>
                                <input type="text" name="apellido" class="form-control p-2" id="apellido" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="direccion" class="p-2">Direccion </label>
                                <input type="text" name="direccion" class="form-control p-2" id="direccion" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  " id="labelDireccionNegocio">
                                <label for="direccionNegocio" class=" p-2">Direccion del Negocio</label>
                                <input type="text" name="direccionNegocio" class="form-control p-2" id="direccionNegocio" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  " id="labelTiempoNegocio">
                                <label for="tiempoNegocio" class=" p-2">Tiempo del Negocio</label>
                                <select name="tiempoNegocio" id="tiempoNegocio" class="form-control p-2">
                                    <option value="Seleccionar" selected>Seleccionar</option>
                                    <option value="Menos de 6 Meses">Menos de 6 Meses</option>
                                    <option value="De 6 Meses a 1 Año">De 6 Meses a 1 Año</option>
                                    <option value="Mas de 1 Año y Menos de 2 Años">Mas de 1 Año y Menos de 2 Años</option>
                                    <option value="Mas de 2 Años">Mas de 2 Años</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <label for="email" class=" p-2">Email</label>
                                <input type="email" name="email" class="form-control p-2" id="email" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="d-flex">
                                <div class="form-group me-lg-5">
                                    <label for="celular" class="  p-2">Celular</label>
                                    <input type="tel" name="celular" class="form-control p-2" id="celular" aria-describedby="emailHelp" placeholder="">
                                </div>

                                <div class="form-group me-lg-5 ">
                                    <label for="nacionadlidad" class="  p-2">Nacionadlidad</label>
                                    <select name="nacionadlidad" class="form-control p-2" id="nacionadlidad">
                                        <option value="Seleccionar">Seleccionar</option>
                                        <option value="Dominicano/a">Dominicano/a</option>
                                        <option value="Extranjero/a">Extranjero/a</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      <strong>PASO 2 - DATOS DE UN FAMILIAR QUE NO VIVA CON USTED</strong>
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <!-- segunda parte -->
                            <div class="form-group  ">
                                <label for="nombreFamilia" class="  p-2">Nombre </label>
                                <input type="text" name="nombreFamilia" class="form-control p-2" id="nombreFamilia" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group ">
                                <label for="direccionFamilia" class="  p-2">Direccion</label>
                                <input type="text" name="direccionFamilia" class="form-control p-2" id="direccionFamilia" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="parentescoFamilia" class="  p-2">Parentesco</label>
                                <input type="text" name="parentescoFamilia" class="form-control p-2" id="parentescoFamilia" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group ">
                                <label for="telefonoFamilia" class="  p-2">Telefono</label>
                                <input type="text" name="telefonoFamilia" class="form-control p-2" id="telefonoFamilia" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="apodoFamilia" class=" p-2">Apodo</label>
                                <input type="text" name="apodoFamilia" class="form-control p-2" id="apodoFamilia" aria-describedby="emailHelp" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="labelDatosLaborales">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                     <strong>PASO 3 - DATOS LABORALES</strong>
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <!-- tercera parte -->
                            <div class="form-group  ">
                                <label for="empresa" class=" p-2">Empresa donde labora</label>
                                <input type="text" name="empresa" class="form-control p-2" id="empresa" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group ">
                                <label for="salario" class=" p-2">Salario</label>
                                <input type="number" name="salario" class="form-control p-2" id="salario" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="puesto" class="  p-2">Puesto</label>
                                <input type="text" name="puesto" class="form-control p-2" id="puesto" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="dir-empresa" class="  p-2">Dirreccion Empresa</label>
                                <input type="text" name="dirEmpresa" class="form-control p-2" id="dir-empresa" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="telefonoEmpresa" class="  p-2">Telefono Empresa</label>
                                <input type="text" name="telefonoEmpresa" class="form-control p-2" id="telefonoEmpresa" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="departamento" class="  p-2">Departamento</label>
                                <input type="text" name="departamento" class="form-control p-2" id="departamento" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group ">
                                <label for="tiempoEmpresa" class=" p-2">Tiempo en la Empresa</label>
                                <select name="tiempoEmpresa" id="" class="form-control p-2">
                                    <option value="Seleccionar" selected>Seleccionar</option>
                                    <option value="Menos de 6 Meses">Menos de 6 Meses</option>
                                    <option value="De 6 Meses a 1 Año">De 6 Meses a 1 Año</option>
                                    <option value="Mas de 1 Año y Menos de 2 Años">Mas de 1 Año y Menos de 2 Años</option>
                                    <option value="Mas de 2 Años">Mas de 2 Años</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                     <strong id="label_4">PASO 4 - REFERENCIAS PERSONALES</strong>
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">

                            <!-- cuarta parte -->
                            <div class="form-group  ">
                                <label for="nombreRefPers1" class=" p-2">Nombre Persona de Referencia 1</label>
                                <input type="text" name="nombreRefPers1" class="form-control p-2" id="nombreRefPers1" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group ">
                                <label for="telefonoRefPer1" class="  p-2">Telefono Persona de Referencia 1</label>
                                <input type="text" name="telefonoRefPer1" class="form-control p-2" id="telefonoRefPer1" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="nombreRefPers2" class="  p-2">Nombre Persona de Referencia 2</label>
                                <input type="text" name="nombreRefPers2" class="form-control p-2" id="nombreRefPers2" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group  ">
                                <label for="telefonoRefPer2" class="  p-2">Telefono Persona de Referencia 2</label>
                                <input type="text" name="telefonoRefPer2" class="form-control p-2" id="telefonoRefPer2" aria-describedby="emailHelp" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                      <strong id="label_5">PASO 5 - DATOS DEL PRESTAMO</strong>
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                            <!-- quinta parte -->

                            <div class="form-group  ">
                                <label for="banco" class="  p-2">Banco</label>
                                <input type="text" name="banco" class="form-control p-2" id="banco" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group ">
                                <label for="numeroCuenta" class="  p-2">Numero de Cuenta</label>
                                <input type="number" name="numeroCuenta" class="form-control p-2" id="numeroCuenta" aria-describedby="emailHelp" placeholder="">
                            </div>

                            <button id="btnGuardarDatos" class="btn btn-success btn-block p-2 mt-4 mb-3" type="submit"><i class="bi bi-check-lg me-lg-2"></i>ENVIAR</button>
                            <a href="/" class="btn btn-danger btn-block p-2 mt-4 mb-3"><i class="bi bi-arrow-left me-lg-2"></i>Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>





        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if (typeof alert != "undefined")  { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
        <% } %>








            <footer class="d-flex" style="background-color: #0B5496 ;">
                <div class="container  d-lg-flex justify-content-lg-between">
                    <div class="container-dir mt-5 mb-5">
                        <img class="mb-5" src="/img/LOGO- footer.png" alt="logo" style="width: 220px;">
                    </div>
                    <div class="container-dir mt-5 mb-5">
                        <h6 class="text-white mb-3"><strong>DIRECCION</strong></h6>
                        <h6 class="text-white"><i class="bi bi-geo-alt-fill me-2"></i>Calle Primera #59</h6>
                        <h6 style="margin-left: 25px;" class="text-white">Sector Enriquillo de Herrera</h6>
                        <h6 style="margin-left: 25px;" class="text-white">Santo Domingo R.D</h6>
                        <h6 class="text-white"><i class="bi bi-envelope-fill me-2"></i>contacto@rosfal.com</h6>
                        <h6 class="text-white"><i class="bi bi-telephone-fill me-2"></i>829-856-0203</h6>
                    </div>
                    <div class="container-link mt-5 mb-5">
                        <h6 class="text-white mb-3"><strong>LINKS DE INTERES</strong></h6>
                        <a class="text-white text-decoration-none" href="/">
                            <li>Inicio</li>
                        </a>
                        <a class="text-white text-decoration-none" href="/quienes-somos">
                            <li>Quienes Somos</li>
                        </a>
                        <a class="text-white text-decoration-none" href="/solicita-ya">
                            <li>Solicita Ya</li>
                        </a>
                        <a class="text-white text-decoration-none" href="/preguntas-frecuentes">
                            <li>Preguntas Frecuentes</li>
                        </a>
                        <a class="text-white text-decoration-none" href="/contacto">
                            <li>Contactos</li>
                        </a>
                        <a class="text-white text-decoration-none" href="/login">
                            <li>Panel Administracion</li>
                        </a>
                    </div>
                    <div class="container-redes mt-5 mb-5">
                        <h6 class="text-white mb-3"><strong>NUESTRAS REDES SOCIALES</strong></h6>
                        <a href="https://www.facebook.com/rosfalrd/" target="_blank"> <img style="width: 40px;" src="/img/logo-facebook.png" alt="facebook"></a>
                        <a href="https://www.instagram.com/rosfalrd/" target="_blank"> <img style="width: 40px;" src="/img/logo-instagram.png" alt="instagram"></a>
                        <a href="https://bit.ly/3xzs0RV" target="_blank"> <img style="width: 40px;" src="/img/logo-ws-navar-footer.png" alt="ws"></a>
                        <a href="#"> <img style="width: 40px;" src="/img/logo-twiter.png" alt="twier"></a>
                    </div>
                </div>
            </footer>
            <div class="mt-0 mb-0" style="background-color:#083d6b ;">
                <p class="text-white text-center pt-3 pb-3 m-0">© Copyright 2022 - Rosfal Soluciones de Prestamos</p>
            </div>



            <script src="/js/solicita-ya-event.js"></script>
</body>

</html>