<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- generador de pdf cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->
    <!-- css datatable -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>

    <!-- <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link rel="icon" href="/img/favicon/logo-favicon.png">
    <title>Rosfal - Solicitudes Nuevas</title>

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #eaf6ff, #a5d3ff); border-radius: 0px 0px 15px 15px;">
        <div class="container-fluid  ">

            <div class="d-flex">
                <img src="/img/LOGO-ROSFAL.png" alt="logo-rosfal" style="width: 80px;" class="me-2">
                <h5 class="text-dark m-2 d-flex align-items-center" style="font-size: large;">SOLICITUDES</h5>
            </div>
            <button class="navbar-toggler  " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="offcanvas-body ">

                    <div class="d-flex">
                        <div class="btn-group ">
                            <button type="button" class="hola navbar-toggler d-block me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon show "></span>
                            </button>
                            <i class="bi bi-person-square me-2" style="font-size: 40px;"></i>
                        </div>
                        <div class="user-container me-2 d-flex">
                            <% if (login) { %>
                                <div>
                                    <h4 type="" class="">
                                        <%= name %>
                                    </h4>
                                    <h6>
                                        <%= rol %>
                                    </h6>
                                </div>
                                <%}  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navbarOffcanvasLabel">
                <h5 class="text-dark m-2" style="font-size: large;">SOLICITUDES</h5>
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="user-container me-2 d-flex align-content-center" style="background-color: #ececec;">
                <% if (login) { %>
                    <i class="bi bi-person-square me-2" style="font-size: 40px;"></i>
                    <div>
                        <h4 type="" class="" style="color: #aeaeae;">
                            <%= name %>
                        </h4>
                        <h6>
                            <%= rol %>
                        </h6>
                    </div>
                    <%}  %>
            </div>
            <hr class="dropdown-divider">
            <%- include('template/navbar-menu') %>
        </div>
    </div>

    <div class=" p-2 d-lg-flex flex-sm-row mt-4 " style="background-color: #ececec;">
        <div class="container-fluid mt-3 mb-3 me-lg-3 d-flex holographic-card" style="background-color: #d4d4d4; border-radius: 50px;">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-nuevas-solicitudes.svg" alt="Solicitudes Nuevas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3 style="color: #2f6eaa;">
                            <%= arraySolicitudesNuevas.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a style="color: #2f6eaa;" class="text-decoration-none fs-5" href="/solicitudes-nuevas">Solicitudes Nuevas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 me-lg-3 d-flex holographic-card" style="border-radius: 50px;">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-aprobadas.svg" alt="Solicitudes Aprobadas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesAprobadas.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-aprobadas">Solicitudes Aprobadas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 me-lg-3 d-flex holographic-card" style="border-radius: 50px;">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-declinadas.svg" alt="Solicitudes Declinadas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesDeclinadas.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-declinadas">Solicitudes Declinadas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 me-lg-3 mb-3 d-flex holographic-card" style="border-radius: 50px;">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-en-revision.svg" alt="Solicitudes en Revision">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesEnRevision.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-en-revision">Solicitudes en Revision</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 d-flex holographic-card" style="border-radius: 50px;">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-total-solicitudes.svg" alt="Solicitudes en Revision">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arrayTotalSolicitudes.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/todas-las-solicitudes">Todas las Solicitudes</a></div>
                </div>
            </div>
        </div>
    </div>

    <% 
    // 1. Monto Promedio Solicitado
    let sumaMontos = 0;
    arrayTotalSolicitudes.forEach(s => {
        // Limpiamos el string por si tiene comas o símbolos y convertimos a número
        let monto = parseFloat(s.montoSolicitado) || 0;
        sumaMontos += monto;
    });
    let montoPromedio = arrayTotalSolicitudes.length > 0 ? (sumaMontos / arrayTotalSolicitudes.length) : 0;

    // 2. Frecuencia de Pagos (Segmentación)
    const frecuencias = {
        diarios: arrayTotalSolicitudes.filter(s => s.frecuenciaPagos === 'pagos diarios').length,
        semanales: arrayTotalSolicitudes.filter(s => s.frecuenciaPagos === 'pagos semanales').length,
        quincenales: arrayTotalSolicitudes.filter(s => s.frecuenciaPagos === 'pagos quincenales').length,
        mensuales: arrayTotalSolicitudes.filter(s => s.frecuenciaPagos === 'pagos mensuales').length
    };
    // 4. Clasificacion de clientes
    const clasificacion = {
        Sin_Clasificacion: arrayTotalSolicitudes.filter(s => 
        !s.clasificacionCliente || 
        s.clasificacionCliente === '' || 
        s.clasificacionCliente.trim() === 'Sin Clasificacion'
        ).length,
        A_Primium: arrayTotalSolicitudes.filter(s => s.clasificacionCliente === 'A-Premium').length,
        B_Regular: arrayTotalSolicitudes.filter(s => s.clasificacionCliente === 'B-Regular').length,
        C_Riesgo: arrayTotalSolicitudes.filter(s => s.clasificacionCliente === 'C-Riesgo').length,
        D_Desestimado: arrayTotalSolicitudes.filter(s => s.clasificacionCliente === 'D-Desestimado').length,
        E_Penalizado: arrayTotalSolicitudes.filter(s => s.clasificacionCliente === 'E-Penalizado').length
    };

    

    // 3. Tipo de Préstamo
    const tiposPrestamo = {
        personal: arrayTotalSolicitudes.filter(s => s.tipoPrestamo === 'Personal').length,
        comercial: arrayTotalSolicitudes.filter(s => s.tipoPrestamo === 'Comercial').length
    };

    // 4. Solicitudes por Rutas (Conteo dinámico)
    const solicitudesPorRuta = {};
    arrayTotalSolicitudes.forEach(s => {
        const nombreRuta = s.ruta || 'Sin Ruta';
        solicitudesPorRuta[nombreRuta] = (solicitudesPorRuta[nombreRuta] || 0) + 1;
    });
    %>

        <% 
    // 1. Función para convertir cualquier formato de fecha de la DB a objeto JS
    const parsearFecha = (f) => {
        if (!f) return new Date(0); 
        // Si ya es un objeto Date (lo hace mysql2/sequelize), lo usa. 
        // Si es String "2025-09-21 21:13:26", aplica el replace para hacerlo ISO.
        return f instanceof Date ? f : new Date(f.toString().replace(' ', 'T'));
    };

    // 2. Definir el rango de la semana actual (Lunes 00:00:00 a Domingo 23:59:59)
    const hoy = new Date();
    const diaDeSemana = hoy.getDay(); // 0 es Domingo, 1 es Lunes...
    
    // Calcular Lunes: Si hoy es Domingo (0), restamos 6 días. Si no, restamos (día - 1).
    const fechaLunes = new Date(new Date().setDate(hoy.getDate() - (diaDeSemana === 0 ? 6 : diaDeSemana - 1)));
    fechaLunes.setHours(0, 0, 0, 0);

    const fechaDomingo = new Date(fechaLunes);
    fechaDomingo.setDate(fechaLunes.getDate() + 6);
    fechaDomingo.setHours(23, 59, 59, 999);

    // 3. Filtrar el arreglo de solicitudes
    const solicitudesEstaSemana = arrayTotalSolicitudes.filter(s => {
        const f = parsearFecha(s.fechaSolicitud);
        return f >= fechaLunes && f <= fechaDomingo;
    });

    // 4. Variables de resultado para el HTML
    const totalSemana = solicitudesEstaSemana.length;
    const totalGeneral = arrayTotalSolicitudes.length;
    const porcentajeSemana = totalGeneral > 0 ? ((totalSemana / totalGeneral) * 100).toFixed(1) : 0;

%>

            <% 
    // 1. Contamos el total de solicitudes general
    const totalSolicitudesRegistradas = arrayTotalSolicitudes.length;

    // 2. Filtramos solo las que tienen estado 'Declinada'
    // Usamos .toLowerCase() y .trim() por seguridad si vienen con espacios o variaciones
    const solicitudesDeclinadas = arrayTotalSolicitudes.filter(s => 
        s.estadoSolicitud && s.estadoSolicitud.trim().toLowerCase() === 'declinada'
    ).length;

    // 3. Calculamos la tasa de insatisfacción (Porcentaje de Declinadas)
    // Fórmula: (Declinadas / Total) * 100
    const tasaInsatisfaccion = totalSolicitudesRegistradas > 0 
        ? ((solicitudesDeclinadas / totalSolicitudesRegistradas) * 100).toFixed(1) 
        : 0;

    // 4. Extra: Tasa de Aprobación (Opcional para contraste)
    const tasaAprobacion = (100 - tasaInsatisfaccion).toFixed(1);
%>

                <% 
    // 1. Definimos los estados que queremos sumar
    const estadosValidos = ['Aprobada', 'En Legal'];

    // 2. Filtramos y sumamos el monto de las solicitudes que coincidan
    const montoTotalActivo = arrayTotalSolicitudes.reduce((acumulador, s) => {
        // Normalizamos el estado para evitar errores de mayúsculas o espacios
        const estado = s.estadoSolicitud ? s.estadoSolicitud.trim() : '';
        
        if (estadosValidos.includes(estado)) {
            // Limpiamos el string (quitamos RD$, comas, etc.) y convertimos a número
            const montoLimpio = parseFloat(s.montoSolicitado.replace(/[^0-9.]/g, '')) || 0;
            return acumulador + montoLimpio;
        }
        return acumulador;
    }, 0);


    // 3. Contar cuántas solicitudes representan ese monto
    const cantidadSolicitudesActivas = arrayTotalSolicitudes.filter(s => 
        estadosValidos.includes(s.estadoSolicitud ? s.estadoSolicitud.trim() : '')
    ).length;
%>

                    <% 
    // 1. Estados que definen cartera activa o en recuperación
    const estadosCartera = ['Aprobada', 'En Legal'];

    // 2. Cálculo del Saldo Pendiente Total
    const saldoTotalPendiente = arrayTotalSolicitudes.reduce((total, s) => {
        const estado = s.estadoSolicitud ? s.estadoSolicitud.trim() : '';
        
        if (estadosCartera.includes(estado)) {
            // Convertimos a número: eliminamos cualquier cosa que no sea número o punto
            // s.saldoFinal suele ser varchar(10) según tu estructura
            const valorSaldo = parseFloat(String(s.saldoFinal).replace(/[^0-9.]/g, '')) || 0;
            return total + valorSaldo;
        }
        return total;
    }, 0);

    // 3. Conteo de préstamos con saldo pendiente
    const prestamosConSaldo = arrayTotalSolicitudes.filter(s => {
        const estado = s.estadoSolicitud ? s.estadoSolicitud.trim() : '';
        const saldo = parseFloat(String(s.saldoFinal).replace(/[^0-9.]/g, '')) || 0;
        return estadosCartera.includes(estado) && saldo > 0;
    }).length;
%>

                        <% 
    // 1. Filtrar solo las solicitudes con estado 'Declinada'
    const solicitudesRechazadas = arrayTotalSolicitudes.filter(s => 
        s.estadoSolicitud && s.estadoSolicitud.trim().toLowerCase() === 'declinada'
    );

    // 2. Sumar el monto solicitado de estas solicitudes
    const montoTotalDeclinado = solicitudesRechazadas.reduce((total, s) => {
        // Limpiamos el varchar(10) para convertirlo a número sumable
        const monto = parseFloat(String(s.montoSolicitado).replace(/[^0-9.]/g, '')) || 0;
        return total + monto;
    }, 0);

    // 3. Cantidad de solicitudes declinadas
    const cantidadDeclinadas = solicitudesRechazadas.length;
%>
                            <main class="flex-grow-1 p-3 p-md-4 overflow-auto bg-light">
                                <header class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-4 gap-3">
                                    <div>
                                        <h1 class="h3 fw-bold text-dark mb-1">Análisis de Solicitudes</h1>
                                        <p class="text-muted mb-0">Resultados en tiempo real de recepciones</p>
                                    </div>
                                    <div class="d-flex gap-2 w-md-auto">
                                        <button class="btn btn-outline-secondary flex-fill flex-md-none fw-semibold shadow-sm">Exportar PDF</button>
                                        <button class="btn btn-primary flex-fill flex-md-none fw-semibold shadow-sm">Filtros Avanzados</button>
                                    </div>
                                </header>

                                <div class="row g-6 mb-4">
                                    <div class="d-lg-flex justify-content-between">
                                        <div class="col-lg-2 mb-2">
                                            <div class="card border-0 shadow-sm h-100 p-3">
                                                <p class="text-muted small fw-bold text-uppercase mb-2">Total Solicitudes Nuevas</p>
                                                <h2 class="display-6 fw-black text-dark mb-1">
                                                    <%= arraySolicitudesNuevas.length %>
                                                </h2>
                                                <span class="text-success small fw-bold">↑ <%= porcentajeSemana %>% Porcentaje esta semana</span>
                                                <span class="text-success small fw-bold">↑ <%= totalSemana %> Recibidas esta semana</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 mb-2">
                                            <div class="card border-0 shadow-sm h-100 p-3">
                                                <% let sumaFlujo = 0; arrayEncuestas.forEach(encuesta => {sumaFlujo += encuesta.flujo_clientes_score;}); const flujoPromedio = arrayEncuestas.length > 0 ? (sumaFlujo / arrayEncuestas.length).toFixed(1) : 0; %>
                                                    <p class="text-muted small fw-bold text-uppercase mb-2">Monto Promedio</p>
                                                    <h2 class="display-6 fw-black text-dark mb-1">
                                                        RD
                                                        <%= montoPromedio=Intl.NumberFormat('en-EN', { style: 'currency' , currency: 'USD' }).format(montoPromedio) %>
                                                    </h2>
                                                    <span class="text-muted small">Puntuación de mercado general</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 mb-2">
                                            <div class="card border-0 shadow-sm h-100 p-3">
                                                <p class="text-muted small fw-bold text-uppercase mb-2">Aprobaciones Solicitudes Potenciales</p>
                                                <h2 class="display-6 fw-black text-primary mb-1">
                                                    RD$
                                                    <%= montoTotalActivo.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                                </h2>
                                                <span class="text-muted small">Proyeccion Solicitudes Declinadas <span class="text-danger"><%= montoTotalDeclinado.toLocaleString('en-US', { minimumFractionDigits: 2 }) %></span></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 mb-2">
                                            <div class="card border-0 shadow-sm h-100 p-3">
                                                <p class="text-muted small fw-bold text-uppercase mb-2">Proyeccion Prestamos Aprobados</p>
                                                <h2 class="display-6 fw-black text-success mb-1">
                                                    RD$
                                                    <%= saldoTotalPendiente.toLocaleString('en-US', { minimumFractionDigits: 2 }) %>
                                                </h2>
                                                <span class="text-muted small">Tasa amortizada</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 mb-2">
                                            <div class="card border-0 shadow-sm h-100 p-3">
                                                <p class="text-muted small fw-bold text-uppercase mb-2">Tasa de Declinacion</p>

                                                <h2 class="display-6 fw-black text-danger mb-1">
                                                    <%= tasaInsatisfaccion %>%</h2>
                                                <span class="text-muted small">Oportunidad de captura</span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <% 
       

        const conteoEncuestadores = {}; 
        arrayEncuestas.forEach(encuesta => {
            const nombrePersona = encuesta.encuestador || 'Sin Asignar'; 
            conteoEncuestadores[nombrePersona] = (conteoEncuestadores[nombrePersona] || 0) + 1;
        });
        const etiquetasEncuestadores = Object.keys(conteoEncuestadores);
        const valoresEncuestadores = Object.values(conteoEncuestadores);
    %>

                                    <div class="row g-4 mb-4">
                                        <p class="text-muted mb-0">Mercado General</p>
                                        <div class="col-12 col-lg-6">
                                            <div class="card border-0 shadow-sm p-4 h-100">
                                                <h3 class="h6 fw-bold text-secondary mb-4">Frecuencias de Pagos Solicitudes</h3>
                                                <div style="position: relative; height:300px;">
                                                    <canvas id="priorityChart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lg-6 d-lg-flex">
                                            <div class="col-6 col-lg-6 ">
                                                <div class="card border-0 shadow-sm p-4 h-100">
                                                    <h3 class="h6 fw-bold text-secondary mb-4">Tipos de Solicitudes (Personal/Comercial)</h3>
                                                    <div style="position: relative; height:300px;">
                                                        <canvas id="businessTypeChart"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-6 ">
                                                <div class="card border-0 shadow-sm p-4 h-100">
                                                    <h3 class="h6 fw-bold text-secondary mb-4">Clasificacion por Solicitudes</h3>
                                                    <div style="position: relative; height:300px;">
                                                        <canvas id="clasificacionSolicitudes"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="card border-0 shadow-sm p-4 h-100">
                                                <h3 class="h6 fw-bold text-secondary mb-4">Solicitudes por Rutas</h3>
                                                <div style="position: relative; height:300px;">
                                                    <canvas id="encuestasRutas"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="card border-0 shadow-sm p-4 h-100">
                                                <h3 class="h6 fw-bold text-secondary mb-4">Encuestas por Encuestador</h3>
                                                <div style="position: relative; height:300px;">
                                                    <canvas id="encuestasStaff"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </main>

                            <div class="container-fluid p-4 mt-5">
                                <h3 style="color: #2f6eaa;" class="">NUEVAS</h3>
                                <div style="border-radius: 50px; box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;" class="container-fluid p-4">
                                    <div class="container-table table-responsive">
                                        <table id="datatable" class="display responsive nowrap compact" style="width:100%">
                                            <!-- <table id="datatable" class="display table table-sm table-hover  " style="width: 100%;"> -->
                                            <thead class="thead-ligth">
                                                <tr>
                                                    <th class="p-0">ID Solicitud</th>
                                                    <th class="p-0">Nombre</th>
                                                    <th class="p-0">Apellido</th>
                                                    <th class="p-0">Cedula</th>
                                                    <th class="p-0">Celular</th>
                                                    <th class="p-0">Cliente id</th>
                                                    <th scope="col">Email</th>
                                                    <th class="p-0">Fecha Solicitud</th>
                                                    <th class="p-0">Monto Solicitud</th>
                                                    <th class="p-0">Tipo de Prestamo</th>
                                                    <th class="p-0">Estado Solicitud</th>
                                                    <th class="p-0">Clasificacion</th>
                                                    <th class="p-0">Ver Solicitud</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% if (arraySolicitudesNuevas.length > 0) { %>
                                                    <% arraySolicitudesNuevas.forEach(solicitud=> { %>

                                                        <tr>

                                                            <td>
                                                                <%= solicitud.idSolicitud %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.nombre %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.apellido %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.cedula %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.celular %>
                                                            </td>
                                                            <td>
                                                                <% if(solicitud.cliente_id_validacion) { %>
                                                                    <%= solicitud.cliente_id_validacion %>
                                                                        <% }else { %>
                                                                            <span style="color: red;">Solicitud sin Cliente</span>
                                                                            <% } %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.email %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.fechaSolicitud.toLocaleString('es-US', { timeZone: "America/Santo_Domingo"}) %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.montoSolicitado %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.tipoPrestamo %>
                                                            </td>
                                                            <td>
                                                                <%= solicitud.estadoSolicitud %>
                                                            </td>
                                                            <td>
                                                                <% if (solicitud.clasificacionCliente == 'Sin Clasificacion') { %>
                                                                    <p style="background-color: gray; color: white;">
                                                                        <%= solicitud.clasificacionCliente %>
                                                                    </p>
                                                                    <% } else if (solicitud.clasificacionCliente == 'A-Premium') { %>
                                                                        <p style="background-color: green; color: white;">
                                                                            <%= solicitud.clasificacionCliente %>
                                                                        </p>
                                                                        <% } else if (solicitud.clasificacionCliente == 'B-Regular') { %>
                                                                            <p style="background-color: yellow; color: black;">
                                                                                <%= solicitud.clasificacionCliente %>
                                                                            </p>
                                                                            <% } else if (solicitud.clasificacionCliente == 'C-Riesgo') { %>
                                                                                <p style="background-color: orange; color: black;">
                                                                                    <%= solicitud.clasificacionCliente %>
                                                                                </p>
                                                                                <% } else if (solicitud.clasificacionCliente == 'D-Desestimado') { %>
                                                                                    <p style="background-color: darkred; color: white;">
                                                                                        <%= solicitud.clasificacionCliente %>
                                                                                    </p>
                                                                                    <% } else if (solicitud.clasificacionCliente == 'E-Penalizado') { %>
                                                                                        <p style="background-color: rgb(0, 0, 0); color: white;">
                                                                                            <%= solicitud.clasificacionCliente %>
                                                                                        </p>
                                                                                        <% } %>
                                                            </td>
                                                            <td class="w-0 "><a href="/solicitudes/editar-solicitud/<%= solicitud.idSolicitud %>" class="btn " title="Editar Solicitud"><i class="bi bi-pencil-square "></i></a>

                                                            </td>
                                                        </tr>

                                                        <% }) %>
                                                            <% } %>

                                            </tbody>
                                            <!-- <button id="excel">descargar</button> -->
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div style="padding-bottom: 10px;" class="d-flex justify-content-center w-100"></div>
                            <a href="/panel-administracion" style="text-align: center; color: #014c90; text-decoration: none;" type="submit" class=" p-2 w-100" id="btn-info"><i class="bi bi-arrow-left-circle me-2"></i>Regresar atras</a>
                            </div>


                            <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    // Configuración del Gráfico de Prioridades
                                    const ctxPriority = document.getElementById('priorityChart');
                                    if (ctxPriority) {
                                        new Chart(ctxPriority, {
                                            type: 'bar',
                                            data: {
                                                labels: ['Pagos Diarios', 'Pagos Semanales', 'Pagos Quincenales', 'Pagos Mensuales'],
                                                datasets: [{
                                                    label: 'Número de Negocios',
                                                    data: [`<%= frecuencias.diarios %>`, `<%= frecuencias.semanales %>`, `<%= frecuencias.quincenales %>`, `<%= frecuencias.mensuales %>`],
                                                    backgroundColor: ['#60a5fa', '#64748b', '#cbd5e1', '#2B7FFF'],
                                                    borderRadius: 8
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                plugins: {
                                                    legend: {
                                                        display: false
                                                    }
                                                },
                                                scales: {
                                                    y: {
                                                        beginAtZero: true
                                                    }
                                                }
                                            }
                                        });
                                    }

                                    // Configuración del Gráfico de Tipos de Negocio
                                    const ctxBusiness = document.getElementById('businessTypeChart');
                                    if (ctxBusiness) {
                                        new Chart(ctxBusiness, {
                                            type: 'doughnut',
                                            data: {
                                                labels: ['Personal', 'Comercial'],
                                                datasets: [{
                                                    data: [`<%= tiposPrestamo.personal %>`, `<%= tiposPrestamo.comercial %>`],
                                                    backgroundColor: ['#60a5fa', '#cbd5e1'],
                                                    borderWidth: 0
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                plugins: {
                                                    legend: {
                                                        position: 'left',
                                                        labels: {
                                                            padding: 20
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                    }



                                    // Configuración del Gráfico clasificacion por solicitudes
                                    const ctxClasificacion = document.getElementById('clasificacionSolicitudes');

                                    if (ctxClasificacion) {
                                        new Chart(ctxClasificacion, {
                                            type: 'doughnut',
                                            data: {
                                                // El orden de labels debe coincidir con el orden de data abajo
                                                labels: ['A-Premium', 'B-Regular', 'C-Riesgo', 'D-Desestimado', 'Sin Clasificación', 'E-Penalizado'],
                                                datasets: [{
                                                    data: [
                                                        <%= clasificacion.A_Primium %>,
                                                        <%= clasificacion.B_Regular %>,
                                                        <%= clasificacion.C_Riesgo %>,
                                                        <%= clasificacion.D_Desestimado %>,
                                                        <%= clasificacion.Sin_Clasificacion %>,
                                                        <%= clasificacion.E_Penalizado %>
                                                    ],
                                                    // Añadí un color extra porque tienes 5 categorías y solo había 4 colores
                                                    backgroundColor: ['#2563eb', '#60a5fa', '#f59e0b', '#ef4444', '#94a3b8', '#0C0A09'],
                                                    borderWidth: 2,
                                                    borderColor: '#ffffff'
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                cutout: '65%',
                                                plugins: {
                                                    legend: {
                                                        position: 'left',
                                                        labels: {
                                                            padding: 15,
                                                            usePointStyle: true,
                                                            font: {
                                                                family: "'Inter', sans-serif",
                                                                size: 12
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                    }

                                    // Configuración del Gráfico de solicitudes por Rutas (Préstamos)
                                    const ctxRutasPrestamos = document.getElementById('encuestasRutas');

                                    if (ctxRutasPrestamos) {
                                        // 1. Extraemos los datos de la variable que procesamos en EJS
                                        // etiquetasRutasPrestamos será algo como ["Ruta 1", "Ruta 2"]
                                        // valoresRutasPrestamos será algo como [15, 8]
                                        const etiquetasRutasPrestamos = <%- JSON.stringify(Object.keys(solicitudesPorRuta)) %>;
                                        const valoresRutasPrestamos = <%- JSON.stringify(Object.values(solicitudesPorRuta)) %>;

                                        new Chart(ctxRutasPrestamos, {
                                            type: 'doughnut',
                                            data: {
                                                labels: etiquetasRutasPrestamos,
                                                datasets: [{
                                                    data: valoresRutasPrestamos,
                                                    backgroundColor: [
                                                        '#0f173q', // Slate 900
                                                        '#2563eb', // Blue 600
                                                        '#60a5fa', // Blue 400
                                                        '#94a3b8', // Slate 400
                                                        '#38bdf8', // Sky 400
                                                        '#1e293b', // Slate 800
                                                        '#475569', // Slate 600
                                                        '#cbd5e1' // Slate 200
                                                    ],
                                                    borderWidth: 2,
                                                    borderColor: '#ffffff' // Espacio blanco entre segmentos
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                cutout: '70%', // Hace el agujero del centro más grande (estilo moderno)
                                                plugins: {
                                                    legend: {
                                                        position: 'left',
                                                        align: 'center',
                                                        labels: {
                                                            padding: 20,
                                                            usePointStyle: true, // Círculos en lugar de cuadrados
                                                            pointStyle: 'circle',
                                                            font: {
                                                                size: 13,
                                                                family: "'Inter', 'Segoe UI', sans-serif",
                                                                weight: '500'
                                                            },
                                                            color: '#475569'
                                                        }
                                                    },
                                                    tooltip: {
                                                        backgroundColor: '#1e293b',
                                                        padding: 12,
                                                        titleFont: {
                                                            size: 14
                                                        },
                                                        bodyFont: {
                                                            size: 13
                                                        },
                                                        displayColors: true
                                                    }
                                                },
                                                layout: {
                                                    padding: {
                                                        left: 20,
                                                        right: 20,
                                                        top: 10,
                                                        bottom: 10
                                                    }
                                                }
                                            }
                                        });
                                    }

                                    // Configuración del Gráfico de Rendimiento por Encuestador
                                    const ctxStaff = document.getElementById('encuestasStaff');

                                    if (ctxStaff) {
                                        new Chart(ctxStaff, {
                                            type: 'bar', // Cambiado a barras para mejor lectura de nombres
                                            data: {
                                                labels: <%- JSON.stringify(etiquetasEncuestadores) %>,
                                                datasets: [{
                                                    label: 'Encuestas Realizadas',
                                                    data: <%- JSON.stringify(valoresEncuestadores) %>,
                                                    backgroundColor: '#60a5fa', // Un azul sólido profesional
                                                    borderRadius: 5,
                                                    borderWidth: 0
                                                }]
                                            },
                                            options: {
                                                indexAxis: 'y', // Hace que las barras sean horizontales
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                plugins: {
                                                    legend: {
                                                        display: false
                                                    } // Ocultamos la leyenda para ganar espacio
                                                },
                                                scales: {
                                                    x: {
                                                        beginAtZero: true,
                                                        grid: {
                                                            display: false
                                                        },
                                                        ticks: {
                                                            stepSize: 1
                                                        } // Solo números enteros
                                                    },
                                                    y: {
                                                        grid: {
                                                            display: false
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                    }
                                });
                            </script>


                            <script>
                                $(document).ready(function() {
                                    $('#datatable').DataTable({
                                        order: [
                                            [0, 'desc']
                                        ],


                                        language: {
                                            "decimal": "",
                                            "emptyTable": "No hay información",
                                            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                            "infoPostFix": "",
                                            "thousands": ",",
                                            "lengthMenu": "Mostrar _MENU_ Entradas",
                                            "loadingRecords": "Cargando...",
                                            "processing": "Procesando...",
                                            "search": "Buscar:",
                                            "zeroRecords": "Sin resultados encontrados",
                                            "paginate": {
                                                "first": "Primero",
                                                "last": "Ultimo",
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            }
                                        }
                                    });

                                });
                            </script>



</body>

</html>