<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- generador de pdf cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link rel="icon" href="/img/favicon/logo-favicon.png">
    <title>Rosfal - Ver Solicitud</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid  " style="background-color: #ececec;">

            <div class="d-flex">
                <img src="/img/LOGO-ROSFAL.png" alt="logo-rosfal" style="width: 80px;" class="me-2">
                <h5 class="text-dark m-2 d-flex align-items-center" style="font-size: large;">SOLICITUDES</h5>
            </div>
            <button class="navbar-toggler  " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="offcanvas-body ">

                    <div class="d-flex">
                        <div class="btn-group ">
                            <button type="button" class=" border-0 dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-square me-2" style="font-size: 40px;"></i></button>
                            <ul class="dropdown-menu ">
                                <li> <a href="/register" class=" dropdown-item">Registrar Usuario</a></li>
                                <li> <a href="/controles-anuncios" class=" dropdown-item">Controles Anuncios</a></li>
                                <li><a class="dropdown-item" href="/">Ir a ROSFAL PAGE</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Cerrar Session</a></li>
                            </ul>
                        </div>
                        <div class="user-container me-2 d-flex">
                            <% if (login) { %>
                                <div>
                                    <h4 type="" class="" style="color: #aeaeae;">
                                        <%= name %>
                                    </h4>
                                    <h6>ADMINISTRADOR</h6>
                                </div>
                                <%}  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navbarOffcanvasLabel">
                <h5 class="text-dark m-2" style="font-size: large;">SOLICITUDES</h5>
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="user-container me-2 d-flex align-content-center" style="background-color: #ececec;">
                <% if (login) { %>
                    <i class="bi bi-person-square me-2" style="font-size: 40px;"></i>
                    <div>
                        <h4 type="" class="" style="color: #aeaeae;">
                            <%= name %>
                        </h4>
                        <h6>ADMINISTRADOR</h6>
                    </div>
                    <%}  %>
            </div>
            <hr class="dropdown-divider">
            <ul class="navbar-nav">
                <li class="p-2"><a class="dropdown-item" href="/panel-administracion"><i class="bi bi-house-door me-2"></i>Inicio</a></li>
                <li class="p-2"><a class="dropdown-item" href="/solicitudes-nuevas"><i class="bi bi-file-text me-2"></i>Solicitudes</a></li>
                <li class="p-2"><a class="dropdown-item" href="/mensajes"><i class="bi bi-envelope-paper me-2"></i>Bandeja Mensaje</a></li>
                <li class="p-2"><a class="dropdown-item" href="/rutas"><i class="bi bi-map me-2"></i>Rutas</a></li>
                <li class="p-2"><a class="dropdown-item" href="/testimonios"><i class="bi bi-chat-left-text me-2"></i>Testimonios</a></li>
                <li class="p-2"><a class="dropdown-item" href="#"><i class="bi bi-sliders me-2"></i>Mantenimiento</a></li>
                <li class="p-2"><a class="dropdown-item" href="/register"><i class="bi bi-person-plus me-2"></i>Registro Usuarios</a></li>
                <li class="p-2"><a class="dropdown-item" href="/controles-anuncios"><i class="bi bi-info-square me-2"></i>Controles Anuncios</a></li>
                <li class="p-2"><a class="dropdown-item" href="/visitas-web"><i class="bi bi-window-fullscreen me-2"></i>Visitas</a></li>
                <hr class="dropdown-divider">
                <li class="p-2"><a class="dropdown-item bg-danger" href="/logout"><i class="bi bi-box-arrow-left me-2"></i>Cerrar Session</a></li>
            </ul>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block ">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-between " style="justify-content: space-around;">
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/panel-administracion"><i class="bi bi-house-door me-2"></i>Inicio</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/solicitudes-nuevas"><i class="bi bi-file-text me-2"></i>Solicitudes</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/mensajes"><i class="bi bi-envelope-paper me-2"></i>Bandeja Mensaje</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/rutas"><i class="bi bi-map me-2"></i>Rutas</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/testimonios"><i class="bi bi-chat-left-text me-2"></i>Testimonios</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="#"><i class="bi bi-sliders me-2"></i>Mantenimiento</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/register"><i class="bi bi-person-plus me-2"></i>Registro Usuarios</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/controles-anuncios"><i class="bi bi-info-square me-2"></i>Controles Anuncios</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex" href="/visitas-web"><i class="bi bi-window-fullscreen me-2"></i>Visitas</a></li>
                <li class="nav-item me-md-4"><a class="nav-link d-flex btn-danger text-light" href="/logout"><i class="bi bi-box-arrow-left me-2"></i>Cerrar Session</a></li>
            </ul>
        </div>
    </nav>

    <div class=" p-2 d-lg-flex flex-sm-row mt-4 " style="background-color: #ececec;">
        <div class="container-fluid mt-3 mb-3 me-lg-3 d-flex bg-white">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-nuevas-solicitudes.svg" alt="Solicitudes Nuevas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesNuevas.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-nuevas">Solicitudes Nuevas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 me-lg-3 d-flex ">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-aprobadas.svg" alt="Solicitudes Aprobadas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesAprobadas.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-aprobadas">Solicitudes Aprobadas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 me-lg-3 d-flex">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-declinadas.svg" alt="Solicitudes Declinadas">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesDeclinadas.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-declinadas">Solicitudes Declinadas</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 me-lg-3 d-flex">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-solicitudes-en-revision.svg" alt="Solicitudes en Revision">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arraySolicitudesEnRevision.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/solicitudes-en-revision">Solicitudes en Revision</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white mt-3 mb-3 d-flex">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-total-solicitudes.svg" alt="Solicitudes en Revision">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arrayTotalSolicitudes.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/todas-las-solicitudes">Todas las Solicitudes</a></div>
                </div>
            </div>
        </div>


    </div>



    <div class="container-fluid p-4 mt-5">
        <h3 class="text-secondary">VER SOLICITUD</h3>


        <div class="container mt-3 ">


            <form class="" autocomplete="off" action="" method="POST">


                <div class="d-lg-flex justify-content-end">
                    <img height="40px" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" src="/img/img-icons/btn-observaciones.svg" class="btn mb-2 p-0 me-lg-2" width="40px" alt="Observaciones" title="Observaciones">
                    <a href="/solicitudes-aprobadas/imprimir-contato/<%= solicitud.idSolicitud %>" class="btn btn-secondary btn-block p-2 mb-2 me-lg-3"><i class="bi bi-printer me-lg-2"></i>IMPRIMIR CONTRATO</a>
                    <a href="/solicitudes-aprobadas/imprimir-solicitud/<%= solicitud.idSolicitud %>" class="btn btn-warning btn-block p-2 mb-2 me-lg-3"><i class="bi bi-printer me-lg-2"></i>IMPRIMIR SOLICITUD</a>

                    <button class="btn btn-primary p-2 mb-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        NOTIFICAR CLIENTE
                      </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a target="_blank" href="https://wa.me/1<%= solicitud.celular %>?text=

%0A*NOTIFICACION SOLICITUD DE PRESTAMO*%0A

%0AEstimad@ *<%= solicitud.nombre %> <%= solicitud.apellido %>* le informamos que su solicitud de préstamos No.<%= solicitud.idSolicitud %> realizada en fecha <%= solicitud.fechaSolicitud.toLocaleString('es-US').slice(0, 10) %> se encuentra *<%= solicitud.estadoSolicitud %>*%0A

----------------------------------

%0A*Para mas informacion:* %0A

*Email:* contacto@rosfal.com
%0A*WhatsApp:* 829 856-0203%0A

=================================

" class="dropdown-item">Estado Solicitud Ws</a>

                        </li>


                    </ul>

                </div>


                <div class="accordion shadow" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <strong>PASO 1 - DATOS PERSONALES </strong>
                    </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <!-- primera parte -->
                                <div class="container-datos-header ">
                                    <div class="datos-de-busqueda ">
                                        <div class=" mb-4">
                                            <div class="form-group d-lg-flex justify-content-end  ">
                                                <div class="form-group mt-2 me-lg-2 ">
                                                    <div class="input-group ">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">ID Solicitud: <%= solicitud.idSolicitud %>  </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-2 me-lg-2 ">
                                                    <div class="input-group ">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Contrato Firmado</span>
                                                        </div>
                                                        <select name="firmaContrato" class="form-control " id="firmaContrato">
                                                            <option  value="<%= solicitud.firmaContrato %>" selected><%= solicitud.firmaContrato %></option>
                                                            
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-2 me-lg-2 ">
                                                    <div class="input-group ">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Ruta</span>
                                                        </div>
                                                        <select name="ruta" class="form-control" id="">
                                                            <option value="<%= solicitud.ruta %>" selected><%= solicitud.ruta %></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-2 me-lg-2 ">
                                                    <div class="input-group ">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Estado Solicitud</span>
                                                        </div>
                                                        <select name="estadoSolicitud" class="form-control" id="">
                                                            <option value="<%= solicitud.estadoSolicitud %>" selected><%= solicitud.estadoSolicitud %></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-2 me-lg-2 ">
                                                    <div class="form-group d-lg-flex">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Tipo de Prestamo</span>
                                                        </div>
                                                        <select name="tipoPrestamo" class="form-control" id="inputTipPrestamo">
                                                            <option value="<%= solicitud.tipoPrestamo %>" selected><%= solicitud.tipoPrestamo %></option>
                                                           
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <div class="">
                                                <div class="form-group   ">
                                                    <div class="input-group ">
                                                        <div class=" me-lg-5">
                                                            <label class="p-2">Cedula</label>
                                                            <input type="number" name="cedula" class="form-control " id="cedula" value="<%= solicitud.cedula %>">
                                                        </div>
                                                        <div class="me-lg-5">
                                                            <label for="sexo" class="p-2">Sexo</label>
                                                            <select name="sexo" class="form-control" id="sexo">
                                                        <option value="<%= solicitud.sexo %>" selected><%= solicitud.sexo %></option>
                                                        <option value="Hombre">Hombre</option>
                                                        <option value="Mujer">Mujer</option>
                                                    </select>

                                                        </div>
                                                        <div class="me-lg-5">
                                                            <label for="sexo" class="p-2">Estado Civil</label>
                                                            <select name="estadoCivil" class="form-control" id="estadoCivil">
                                                        <option value="<%= solicitud.estadoCivil %>" selected><%= solicitud.estadoCivil %></option>
                                                        <option value="Casado/a">Casado/a</option>
                                                        <option value="Soltero/a">Soltero/a</option>
                                                        <option value="Union Libre">Union Libre</option>
                                                    </select>

                                                        </div>
                                                        <div class="me-lg-5">
                                                            <label for="sexo" class="p-2">Clasificacion</label>
                                                            <select name="clasificacionCliente" class="form-control" id="clasificacionCliente">
                                                            <option value="<%= solicitud.clasificacionCliente %>" selected>
                                                                <%= solicitud.clasificacionCliente %>
                                                            </option>
                                                            
                                                        </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nombre" class=" p-2">Nombre</label>
                                    <input type="text" name="nombre" class="form-control p-2" id="nombre" aria-describedby="emailHelp" value="<%= solicitud.nombre %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="apellido" class="p-2">Apellido</label>
                                    <input type="text" name="apellido" class="form-control p-2" id="apellido" aria-describedby="emailHelp" value="<%= solicitud.apellido %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="direccion" class="p-2">Direccion </label>
                                    <input type="text" name="direccion" class="form-control p-2" id="direccion" aria-describedby="emailHelp" value="<%= solicitud.direccion %>">
                                </div>
                                <div class="form-group " id="labelDireccionNegocio">
                                    <label for="direccionNegocio" class=" p-2">Direccion del Negocio</label>
                                    <input type="text" name="direccionNegocio" class="form-control p-2" id="direccionNegocio" aria-describedby="emailHelp" value="<%= solicitud.direccionNegocio %>">
                                </div>
                                <div class="form-group " id="labelTiempoNegocio">
                                    <label for="tiempoNegocio" class=" p-2">Tiempo del Negocio</label>
                                    <input type="text" name="tiempoNegocio" class="form-control p-2" id="tiempoNegocio" aria-describedby="emailHelp" value="<%= solicitud.tiempoNegocio %>">
                                </div>

                                <div class="form-group ">
                                    <label for="email" class=" p-2">Email</label>
                                    <input type="email" name="email" class="form-control p-2" id="email" aria-describedby="emailHelp" value="<%= solicitud.email %>">
                                </div>
                                <div class="d-flex">
                                    <div class="form-group me-lg-5">
                                        <label for="celular" class="  p-2">Celular</label>
                                        <input type="number" name="celular" class="form-control p-2" id="celular" aria-describedby="emailHelp" value="<%= solicitud.celular %>">
                                    </div>

                                    <div class="form-group me-lg-5 ">
                                        <label for="nacionadlidad" class="  p-2">Nacionadlidad</label>
                                        <select name="nacionadlidad" class="form-control p-2" id="nacionadlidad">
                                        <option value="<%= solicitud.nacionadlidad %>" selected><%= solicitud.nacionadlidad %></option>
                                    </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      <strong>PASO 2 - DATOS DE UN FAMILIAR QUE NO VIVA CON USTED</strong>
                    </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <!-- segunda parte -->
                                <div class="form-group  ">
                                    <label for="nombreFamilia" class="  p-2">Nombre </label>
                                    <input type="text" name="nombreFamilia" class="form-control p-2" id="nombreFamilia" aria-describedby="emailHelp" value="<%= solicitud.nombreFamilia %>">
                                </div>
                                <div class="form-group ">
                                    <label for="direccionFamilia" class="  p-2">Direccion</label>
                                    <input type="text" name="direccionFamilia" class="form-control p-2" id="direccionFamilia" aria-describedby="emailHelp" value="<%= solicitud.direccionFamilia %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="parentescoFamilia" class="  p-2">Parentesco</label>
                                    <input type="text" name="parentescoFamilia" class="form-control p-2" id="parentescoFamilia" aria-describedby="emailHelp" value="<%= solicitud.parentescoFamilia %>">
                                </div>
                                <div class="form-group ">
                                    <label for="telefonoFamilia" class="  p-2">Telefono</label>
                                    <input type="text" name="telefonoFamilia" class="form-control p-2" id="telefonoFamilia" aria-describedby="emailHelp" value="<%= solicitud.telefonoFamilia %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="apodoFamilia" class=" p-2">Apodo</label>
                                    <input type="text" name="apodoFamilia" class="form-control p-2" id="apodoFamilia" aria-describedby="emailHelp" value="<%= solicitud.apodoFamilia %>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" id="labelDatosLaborales">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                         <strong>PASO 3 - DATOS LABORALES</strong>
                         </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <!-- tercera parte -->
                                <div class="form-group  ">
                                    <label for="empresa" class=" p-2">Empresa donde labora</label>
                                    <input type="text" name="empresa" class="form-control p-2" id="empresa" aria-describedby="emailHelp" value="<%= solicitud.empresa %>">
                                </div>
                                <div class="form-group ">
                                    <label for="salario" class=" p-2">Salario</label>
                                    <input type="text" name="salario" class="form-control p-2" id="salario" aria-describedby="emailHelp" value="<%= solicitud.salario %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="puesto" class="  p-2">Puesto</label>
                                    <input type="text" name="puesto" class="form-control p-2" id="puesto" aria-describedby="emailHelp" value="<%= solicitud.puesto %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="dir-empresa" class="  p-2">Dirreccion Empresa</label>
                                    <input type="text" name="dirEmpresa" class="form-control p-2" id="dir-empresa" aria-describedby="emailHelp" value="<%= solicitud.dirEmpresa %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="telefonoEmpresa" class="  p-2">Telefono Empresa</label>
                                    <input type="text" name="telefonoEmpresa" class="form-control p-2" id="telefonoEmpresa" aria-describedby="emailHelp" value="<%= solicitud.telefonoEmpresa %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="departamento" class="  p-2">Departamento</label>
                                    <input type="text" name="departamento" class="form-control p-2" id="departamento" aria-describedby="emailHelp" value="<%= solicitud.departamento %>">
                                </div>
                                <div class="form-group ">
                                    <label for="tiempoEmpresa" class=" p-2">Tiempo en la Empresa</label>
                                    <input type="text" name="tiempoEmpresa" class="form-control p-2" id="tiempoEmpresa" aria-describedby="emailHelp" value="<%= solicitud.tiempoEmpresa %>">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                     <strong id="label_4">PASO 4 - REFERENCIAS PERSONALES</strong>
                    </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">

                                <!-- cuarta parte -->
                                <div class="form-group  ">
                                    <label for="nombreRefPers1" class=" p-2">Nombre Persona de Referencia 1</label>
                                    <input type="text" name="nombreRefPers1" class="form-control p-2" id="nombreRefPers1" aria-describedby="emailHelp" value="<%= solicitud.nombreRefPers1 %>">
                                </div>
                                <div class="form-group ">
                                    <label for="telefonoRefPer1" class="  p-2">Telefono Persona de Referencia 1</label>
                                    <input type="text" name="telefonoRefPer1" class="form-control p-2" id="telefonoRefPer1" aria-describedby="emailHelp" value="<%= solicitud.telefonoRefPer1 %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="nombreRefPers2" class="  p-2">Nombre Persona de Referencia 2</label>
                                    <input type="text" name="nombreRefPers2" class="form-control p-2" id="nombreRefPers2" aria-describedby="emailHelp" value="<%= solicitud.nombreRefPers2 %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="telefonoRefPer2" class="  p-2">Telefono Persona de Referencia 2</label>
                                    <input type="text" name="telefonoRefPer2" class="form-control p-2" id="telefonoRefPer2" aria-describedby="emailHelp" value="<%= solicitud.telefonoRefPer2 %>">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                      <strong id="label_5">PASO 5 - DATOS DEL PRESTAMO</strong>
                    </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body">
                                <!-- quinta parte -->

                                <div class="form-group  ">
                                    <label for="banco" class="  p-2">Banco</label>
                                    <input type="text" name="banco" class="form-control p-2" id="banco" aria-describedby="emailHelp" value="<%= solicitud.banco %>">
                                </div>
                                <div class="form-group ">
                                    <label for="numeroCuenta" class="  p-2">Numero de Cuenta</label>
                                    <input type="number" name="numeroCuenta" class="form-control p-2" id="numeroCuenta" aria-describedby="emailHelp" value="<%= solicitud.numeroCuenta %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="montoSolicitado" class="  p-2">Monto Solicitado</label>
                                    <input type="number" name="montoSolicitado" class="form-control p-2" id="montoSolicitado" aria-describedby="emailHelp" value="<%= solicitud.montoSolicitado %>">
                                </div>
                                <div class="form-group  ">
                                    <label for="" class="  p-2">Frecuencia de Pagos</label>
                                    <input type="text" name="frecuenciaPagos" class="form-control p-2" id="frecuenciaPagos" aria-describedby="emailHelp" value="<%= solicitud.frecuenciaPagos %>">
                                </div>
                                <div class="d-lg-flex justify-content-lg-between">
                                    <div class="form-group  ">
                                        <label for="" class="  p-2">Cantidad Pagos Semanales</label>
                                        <input type="number" name="cantidadPagosSemanales" class="form-control p-2" id="" aria-describedby="emailHelp" value="<%= solicitud.cantidadPagosSemanales %>">
                                    </div>
                                    <div class="form-group  ">
                                        <label for="" class="  p-2">Cantidad Pagos Diarios</label>
                                        <input type="number" name="cantidadPagosDiarios" class="form-control p-2" id="" aria-describedby="emailHelp" value="<%= solicitud.cantidadPagosDiarios %>">
                                    </div>
                                    <div class="form-group  ">
                                        <label for="" class="  p-2">Cantidad Pagos Quincenales</label>
                                        <input type="number" name="cantidadPagosQuincenales" class="form-control p-2" id="" aria-describedby="emailHelp" value="<%= solicitud.cantidadPagosQuincenales %>">
                                    </div>
                                    <div class="form-group  ">
                                        <label for="" class="  p-2">Cantidad Pagos Mensuales</label>
                                        <input type="number" name="cantidadPagosMensuales" class="form-control p-2" id="" aria-describedby="emailHelp" value="<%= solicitud.cantidadPagosMensuales %>">
                                    </div>
                                </div>

                                <!-- <button id="btnGuardarDatos" class="btn btn-success btn-block p-2 mt-4 mb-3" type="submit"><i class="bi bi-check-lg me-lg-2"></i>Guardar datos</button> -->
                                <!-- <a href="/" class="btn btn-danger btn-block p-2 mt-4 mb-3"><i class="bi bi-arrow-left me-lg-2"></i>Cancelar</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal 2 -->

                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center fw-bold" id="staticBackdropLabel">Observaciones</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3">
                                    <input class="d-none" name="idSolicitud" value="<%= solicitud.idSolicitud %>">
                                    <input class="d-none" name="name" value="<%= name %>">
                                    <h6>
                                        <%= solicitud.idSolicitud %>
                                            <%= solicitud.nombre %>
                                                <%= solicitud.apellido %>
                                    </h6>
                                    <div class="d-flex ">
                                        <textarea class="form-control" name="observacion" id="message-text" placeholder="Observaciones Aqui"></textarea>
                                        <button type="submit" class="btn btn-success">Agregar</button>
                                    </div>

                                    <div class="container-table table-responsive">
                                        <table id="datatable" class="display responsive nowrap table-striped table table-success " style="width:100%">
                                            <thead class="thead-ligth">
                                                <tr>
                                                    <th scope="col">Observacion</th>
                                                    <th scope="col">Usuario</th>
                                                    <th scope="col">Fecha Observacion</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% if (arrayObservaciones.length > 0) { %>
                                                    <% arrayObservaciones.forEach(observacion=> { %>

                                                        <tr>

                                                            <td>
                                                                <%= observacion.observacion %>
                                                            </td>
                                                            <td>
                                                                <%= observacion.name %>
                                                            </td>
                                                            <td>
                                                                <%= observacion.fechaObservacion.toLocaleString('es-US', { timeZone: "America/Santo_Domingo"}) %>
                                                            </td>

                                                        </tr>

                                                        <% }) %>
                                                            <% }else { %>
                                                                <div>Sin observaciones</div>
                                                                <% } %>

                                    </div>
                                </div>
                                <div class="modal-footer border-0">

                                </div>
                            </div>
                        </div>
                    </div>


            </form>
            </div>
        </div>




        <!-- <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script> -->


        <script src="/js/ver-solicitud-event.js"></script>

</body>

</html>