<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- generador de pdf cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->
    <!-- DATATABLE -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link rel="icon" href="/img/favicon/logo-favicon.png">
    <title>Rosfal - Ver Testimonio</title>
</head>

<body>




    <div class="container-fluid " style="background-color: #ececec;">
        <div class=" d-flex align-items-center justify-content-between">
            <div class="d-flex">
                <a class="bg-info text-decoration-none text-light p-2" href="/panel-administracion">VOLVER ATRAS</a>
                <h5 class="text-dark m-2" style="font-size: large;">PANEL DE TESTIMONIO</h5>
            </div>
            <div class="btn-group">
                <% if (login) { %>
                    <button type="button" class="btn btn-info"><%= name %></button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="/">Ir a ROSFAL PAGE</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Session</a></li>

                    </ul>
                    <%}  %>
            </div>

        </div>
    </div>



    <div class=" p-2 d-lg-flex flex-sm-row mt-4 justify-content-md-between " style="background-color: #ececec;">
        <div class="container-fluid d-flex bg-white d-flex mt-3 mb-3 me-lg-3">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-testimonios.svg" alt="testimonios nuevos">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arrayTestimoniosNuevos.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/testimonios">Testimonios Nuevos</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white  d-flex d-flex mt-3 mb-3 me-lg-3">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-testimonio-activo.svg" alt="testimonios activos">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arrayTestimoniosActivos.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/testimonios-activos">Testimonios Activos</a></div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white  d-flex d-flex mt-3 mb-3 ">
            <div class="container-nuevas d-flex">
                <div class="container-img m-2 me-lg-3">
                    <img style="width: 60px;" src="/img/img-icons/img-testimonio-inactivo.svg" alt="testimonio-inactivo">
                </div>
                <div class="container-titulo">
                    <div class="indicador">
                        <h3>
                            <%= arrayTestimoniosInactivos.length %>
                        </h3>
                    </div>
                    <div class="titulo"><a class="text-decoration-none text-secondary fs-5" href="/testimonios-inactivos">Testimonios Inactivos</a></div>
                </div>
            </div>
        </div>

    </div>

    <!-- <h3>VER MENSAJE</h3> -->

    <div class="container-fluid d-lg-flex">
        <!-- <div class="container-fluid container-todos-los-mensajes"> -->
        <div class="container-fluid p-4 mt-5 ">
            <h3 class="text-secondary"><strong>BANDEJA</strong> TESTIMONIOS</h3>
            <div class="container-fluid p-4">
                <div class="container-table table-responsive">
                    <table id="datatable" class="display responsive nowrap" style="width:100%">
                        <thead class="thead-ligth">
                            <tr>
                                <!-- <th scope="col">Id</th> -->
                                <th scope="col">ID Testimonio</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha del Testimonio</th>
                                <th scope="col">Estado Testimonio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% if (arrayTestimonios.length > 0) { %>
                                <% arrayTestimonios.forEach(testimonio=> { %>

                                    <tr>
                                        <td>
                                            <%= testimonio.idTestimonio %>
                                        </td>
                                        <td>
                                            <%= testimonio.nombre %>
                                        </td>
                                        <td>
                                            <%= testimonio.fechaTestimonio.toLocaleString() %>
                                        </td>
                                        <td>
                                            <%= testimonio.estadoTestimonio %>
                                        </td>
                                        <td class=""><a id="eventoAct-Inact" href="/testimonios-activos/ver-testimonio-activo/<%= testimonio.idTestimonio %>" class="btn " title="Ver Testimonio"><i class="bi bi-folder2-open "></i></a>
                                            <!-- <a id="eventoAct-Inact" href="/mensajes/ver-mensaje/<%=  %>" class="btn " title="Ver Solicitud"><i class="bi bi-folder2-open "></i></a> -->
                                            <!-- <a href="/testimonios/<%=  %>" type="submit" class=" btn me-lg-3"><i class="bi bi-x-lg me-lg-3" title="Eliminar empleado"></i></a> -->
                                        </td>
                                    </tr>

                                    <% }) %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- </div> -->
        </div>


        <div class="container-fluid container-ver-mensaje">
            <form class="" autocomplete="off" action="" method="POST">
                <div class="container-fluid p-4 mt-5 vh-100" style="background-color: #e8e7e7;">
                    <h3 class="text-secondary"><strong>Ciudad:</strong>
                        <%= testimonio.ciudad %>
                    </h3>
                    <div class="d-flex justify-content-md-end ">
                        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit" class=" btn btn-danger me-lg-2">ELIMINAR TESTIMONIO</i></a>
                        <button class="btn btn-secondary me-lg-2" type="submit">GUARDAR COMO</button>
                        <select class="" name="estadoTestimonio" id="" autofocus>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>

                    <div class="container-fluid p-4">

                        <div class="">
                            <h6>
                                <strong>Nombre:</strong>
                                <%= testimonio.nombre %>
                            </h6>
                            <h6>
                                <strong>Fecha:</strong>
                                <%= testimonio.fechaTestimonio.toLocaleString() %>
                            </h6>
                            <h6>
                                <strong>Estado:</strong>
                                <%= testimonio.estadoTestimonio %>
                            </h6>
                        </div>
                        <hr>

                        <h5 class="text-secondary mt-4 mb-3">TESTIMONIO:</h5>
                        <div class="container-fluid container-mensaje">
                            <h3>
                                <%= testimonio.testimonio %>
                            </h3>
                        </div>




                    </div>
                </div>
            </form>
        </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center fw-bold" id="staticBackdropLabel">Eliminar Testimonio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <h5 class="text-center fw-bold">
                        <%= testimonio.nombre %>
                    </h5>
                    <h5 class="text-center">
                        <%= testimonio.ciudad %>
                    </h5>
                    <h5 class="text-center">
                        <%= testimonio.testimonio %>
                    </h5>

                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <a href="/testimonios-activos/eliminar-testimonio/<%= testimonio.idTestimonio %>" type="button" class="btn btn-primary">Si Eliminar</a>
                </div>
            </div>
        </div>
    </div>





    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                order: [
                    [0, 'desc']
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>



</body>

</html>