<% if (rol == permiso_A) { %>

    <ul class="navbar-nav">
        <li class="p-2"><a class="dropdown-item" href="/panel-administracion"><i class="bi bi-house-door me-2"></i>Inicio</a></li>
        <% if (arraySolicitudes.length == 0) { %>
            <li class="p-2"><a class="dropdown-item" href="/solicitudes-nuevas"><i class="bi bi-file-text me-2"></i>Solicitudes</a></li>
            <% } else { %>
                <li class="p-2"><a class="dropdown-item" href="/solicitudes-nuevas"><i class="bi bi-file-text me-2"></i>Solicitudes <span class="badge badge-pill badge-info bg-success">Nuevo: <%= arraySolicitudes.length %></span></a></li>
                <% } %>
                    <% if (arrayMensajesNuevos.length == 0) { %>
                        <li class="p-2"><a class="dropdown-item" href="/mensajes"><i class="bi bi-envelope-paper me-2"></i>Bandeja Mensaje</a></li>
                        <% } else { %>
                            <li class="p-2"><a class="dropdown-item" href="/mensajes"><i class="bi bi-envelope-paper me-2"></i>Bandeja Mensaje <span class="badge badge-pill badge-info bg-success">Nuevo: <%= arrayMensajesNuevos.length %></span></a></li>
                            <% } %>
                                <li class="p-2"><a class="dropdown-item" href="/rutas"><i class="bi bi-map me-2"></i>Rutas</a></li>
                                <% if (arrayTestimoniosNuevos.length == 0) { %>
                                    <li class="p-2"><a class="dropdown-item" href="/testimonios"><i class="bi bi-chat-left-text me-2"></i>Testimonios</a></li>
                                    <% } else { %>
                                        <li class="p-2"><a class="dropdown-item" href="/testimonios"><i class="bi bi-chat-left-text me-2"></i>Testimonios <span class="badge badge-pill badge-info bg-success"> Nuevo: <%= arrayTestimoniosNuevos.length %></span></a></li>
                                        <% } %>
                                            <li class="p-2"><a class="dropdown-item" href="/mantenimiento"><i class="bi bi-sliders me-2"></i>Mantenimiento</a></li>
                                            <li class="p-2"><a class="dropdown-item" href="/app-clientes"><i class="bi bi-person-plus me-2"></i>Clientes <span class="badge badge-pill badge-info bg-success"> <%= arrayClientes.length %></span></a></li>
                                            <li class="p-2"><a class="dropdown-item" href="/adm-usuarios"><i class="bi bi-person-plus me-2"></i>Usuarios <span class="badge badge-pill badge-info bg-success"> <%= arrayUsuarios.length %></span></a></li>
                                            <li class="p-2"><a class="dropdown-item" href="/controles-anuncios"><i class="bi bi-info-square me-2"></i>Controles Anuncios</a></li>
                                            <li class="p-2"><a class="dropdown-item" href="/visitas-web"><i class="bi bi-window-fullscreen me-2"></i>Visitas <span class="badge badge-pill badge-info bg-secondary"> <%= arrayVisitas.length %></span></a></li>
                                            <hr class="dropdown-divider">
                                            <li class="p-2"><a class="dropdown-item bg-danger text-light" href="/logout"><i class="bi bi-box-arrow-left me-2"></i>Cerrar Session</a></li>
    </ul>

    <% } else if (rol == permiso_B) { %>

        <ul class="navbar-nav">
            <li class="p-2"><a class="dropdown-item" href="/panel-administracion"><i class="bi bi-house-door me-2"></i>Inicio</a></li>
            <li class="p-2"><a class="dropdown-item" href="/solicitudes-nuevas"><i class="bi bi-file-text me-2"></i>Solicitudes</a></li>
            <li class="p-2"><a class="dropdown-item" href="/mensajes"><i class="bi bi-envelope-paper me-2"></i>Bandeja Mensaje</a></li>
            <li class="p-2"><a class="dropdown-item" href="/rutas"><i class="bi bi-map me-2"></i>Rutas</a></li>
            <li class="p-2"><a class="dropdown-item" href="/testimonios"><i class="bi bi-chat-left-text me-2"></i>Testimonios</a></li>
            <li class="p-2"><a class="dropdown-item" href="/mantenimiento"><i class="bi bi-sliders me-2"></i>Mantenimiento</a></li>
            <li class="p-2"><a class="dropdown-item" href="/app-clientes"><i class="bi bi-person-plus me-2"></i>Clientes</a></li>
            <li class="p-2"><a class="dropdown-item" href="/adm-usuarios"><i class="bi bi-person-plus me-2"></i>Usuarios</a></li>
            <hr class="dropdown-divider">
            <li class="p-2"><a class="dropdown-item bg-danger text-light" href="/logout"><i class="bi bi-box-arrow-left me-2"></i>Cerrar Session</a></li>
        </ul>

        <% } else if (rol == permiso_C) { %>

            <ul class="navbar-nav">
                <li class="p-2"><a class="dropdown-item" href="/panel-administracion"><i class="bi bi-house-door me-2"></i>Inicio</a></li>
                <li class="p-2"><a class="dropdown-item" href="/adm-usuarios/editar-usuario-app/<%= usuario.idUsuario %>"><i class="bi bi-person-plus me-2"></i>Perfil Usuario</a></li>
                <li class="p-2"><a class="dropdown-item" href="/consulta-solicitud"><i class="bi bi-sliders me-2"></i>Solicitudes Pendientes</a></li>
                <li class="p-2"><a class="dropdown-item" href="/mantenimiento"><i class="bi bi-sliders me-2"></i>Mantenimiento</a></li>
                <hr class="dropdown-divider">
                <li class="p-2"><a class="dropdown-item bg-danger text-light" href="/logout"><i class="bi bi-box-arrow-left me-2"></i>Cerrar Session</a></li>
            </ul>

            <% } %>